In [2]:
# import pandas as pd
# # df = pd.read_csv(r"/workspaces/Codegym/Dataset/salary_data.csv")
# df = pd.read_csv("D:\Học\Codegym\Dataset\salary_data.csv")
# df

<>:3: SyntaxWarning: invalid escape sequence '\H'
<>:3: SyntaxWarning: invalid escape sequence '\H'
C:\Users\hungh\AppData\Local\Temp\ipykernel_14724\3567388772.py:3: SyntaxWarning: invalid escape sequence '\H'
  df = pd.read_csv("D:\Học\Codegym\Dataset\salary_data.csv")
C:\Users\hungh\AppData\Local\Temp\ipykernel_14724\3567388772.py:3: SyntaxWarning: invalid escape sequence '\H'
  df = pd.read_csv("D:\Học\Codegym\Dataset\salary_data.csv")

ModuleNotFoundError: No module named 'pandas'

In [3]:
import pandas as pd
df = pd.read_csv("D:\Học\Codegym\Dataset\salary_data.csv")
df.info()

<>:2: SyntaxWarning: invalid escape sequence '\H'
<>:2: SyntaxWarning: invalid escape sequence '\H'
C:\Users\hungh\AppData\Local\Temp\ipykernel_14724\1154312626.py:2: SyntaxWarning: invalid escape sequence '\H'
  df = pd.read_csv("D:\Học\Codegym\Dataset\salary_data.csv")
C:\Users\hungh\AppData\Local\Temp\ipykernel_14724\1154312626.py:2: SyntaxWarning: invalid escape sequence '\H'
  df = pd.read_csv("D:\Học\Codegym\Dataset\salary_data.csv")

ModuleNotFoundError: No module named 'pandas'

In [ ]:
df.shape

(1426, 3)

In [ ]:
print(f"Số dòng của bảng dữ liệu là {df.shape[0]}")
print(f"Số cột của bảng dữ liệu là {df.shape[1]}")

Số dòng của bảng dữ liệu là 1426
Số cột của bảng dữ liệu là 3

In [ ]:
df.head(20)

    SoNamKinhNghiem  Luong NganhNghe
0                 7   26.0    KeToan
1                 4   13.8    KeToan
2                 8   21.5    KeToan
3                 9   24.0    KeToan
4                 1    7.8    KeToan
5                 2   10.0    KeToan
6                 4   13.5    KeToan
7                 5   15.8    KeToan
8                 3   12.2    KeToan
9                 2   10.0    KeToan
10                4   14.1    KeToan
11                0    6.1    KeToan
12                3   12.1    KeToan
13                8   21.6    KeToan
14                5   15.7    KeToan
15                5   16.0    KeToan
16                8   22.0    KeToan
17                5   16.0    KeToan
18                2   10.5    KeToan
19                3   11.4    KeToan