In [1]:
import pandas as pd
df = pd.read_csv(r"/workspaces/Codegym/Dataset/salary_data.csv")
df

      SoNamKinhNghiem  Luong NganhNghe
0                   7   26.0    KeToan
1                   4   13.8    KeToan
2                   8   21.5    KeToan
3                   9   24.0    KeToan
4                   1    7.8    KeToan
...               ...    ...       ...
1421                8   22.8      Sale
1422                6   18.7      Sale
1423                0    7.3      Sale
1424                0    7.2      Sale
1425               10   27.0      Sale

[1426 rows x 3 columns]

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1426 entries, 0 to 1425
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SoNamKinhNghiem  1426 non-null   int64
 1   Luong            1426 non-null   float64
 2   NganhNghe        1426 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 33.5+ KB

In [3]:
df.shape

(1426, 3)

In [4]:
print(f"Số dòng của bảng dữ liệu là {df.shape[0]}")
print(f"Số cột của bảng dữ liệu là {df.shape[1]}")

Số dòng của bảng dữ liệu là 1426
Số cột của bảng dữ liệu là 3

In [5]:
df.head(30)

    SoNamKinhNghiem  Luong NganhNghe
0                 7   26.0    KeToan
1                 4   13.8    KeToan
2                 8   21.5    KeToan
3                 9   24.0    KeToan
4                 1    7.8    KeToan
5                 2   10.0    KeToan
6                 4   13.5    KeToan
7                 5   15.8    KeToan
8                 3   12.2    KeToan
9                 2   10.0    KeToan
10                4   14.1    KeToan
11                0    6.1    KeToan
12                3   12.1    KeToan
13                8   21.6    KeToan
14                5   15.7    KeToan
15                5   16.0    KeToan
16                8   22.0    KeToan
17                5   16.0    KeToan
18                2   10.5    KeToan
19                3   11.4    KeToan
20                7   20.1    KeToan
21                9   45.0    KeToan
22                6   18.1    KeToan
23                7   20.3    KeToan
24                6   17.5    KeToan
25               10   26.1    KeToan
26                1    8.3    KeToan
27                9   23.9    KeToan
28                0    5.8    KeToan
29                7   19.9    KeToan