In [5]:
import pandas as pd
df = pd.read_csv(r"/workspaces/Codegym/Dataset/salary_data.csv")
df

      SoNamKinhNghiem  Luong NganhNghe
0                   7   26.0    KeToan
1                   4   13.8    KeToan
2                   8   21.5    KeToan
3                   9   24.0    KeToan
4                   1    7.8    KeToan
...               ...    ...       ...
1421                8   22.8      Sale
1422                6   18.7      Sale
1423                0    7.3      Sale
1424                0    7.2      Sale
1425               10   27.0      Sale

[1426 rows x 3 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1426 entries, 0 to 1425
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SoNamKinhNghiem  1426 non-null   int64
 1   Luong            1426 non-null   float64
 2   NganhNghe        1426 non-null   object
dtypes: float64(1), int64(1), object(1)
memory usage: 33.5+ KB

In [7]:
df.shape

(1426, 3)

In [8]:
print(f"Số dòng của bảng dữ liệu là {df.shape[0]}")
print(f"Số cột của bảng dữ liệu là {df.shape[1]}")

Số dòng của bảng dữ liệu là 1426
Số cột của bảng dữ liệu là 3