# <font color = "green">1. Connect Drive</font>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# đường dẫn thư mục sẽ làm việc
WorkingPath ="/content/drive/MyDrive/TAI_LIEU_CUA_THAM/Codegym Online/"
%cd $WorkingPath

%pwd

/content/drive/MyDrive/TAI_LIEU_CUA_THAM/Codegym Online

'/content/drive/MyDrive/TAI_LIEU_CUA_THAM/Codegym Online'

# <font color = "green">2. Import Libraries</font>

In [4]:
# Import necessary python libraries
import pandas as pd
import numpy as np

# <font color = "green">3. Data</font>

In [16]:
# Load the dataset
Online_Retail = pd.read_csv("OnlineRetail.csv", encoding = "ISO-8859-1")

# Inspect the first 5 rows and all columns of the dataset
Online_Retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [6]:
Online_Retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [12]:
countries = Online_Retail.Country.unique()
# Online_Retail["Country"]
print("số lượng các quốc gia: " + str(countries.size))

số lượng các quốc gia: 38

In [17]:
# tạo cột tính thành tiền của các mặt hàng
Online_Retail["total"] = Online_Retail["Quantity"] * Online_Retail["UnitPrice"]

In [18]:
Online_Retail.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,total
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom,20.34

In [20]:
#  giá trị đơn hàng của mỗi đơn hàng
total_invoices = Online_Retail["total"].sum()
print("số lượng hoá đơn bán ra: " +  str(total_invoices.size))

số lượng hoá đơn bán ra: 1

In [21]:
print("tổng doanh thu: " + str(total_invoices.sum()))

tổng doanh thu: 9747747.933999998