In [1]:
%pwd

'C:\\Users\\Hung\\Desktop\\Học\\Codegym\\Codegym\\2. Python for DA\\1. Khai giảng'

In [2]:
import pandas as pd
data = pd.read_csv("C:\\Users\\Hung\\Desktop\\Học\\Codegym\\Codegym\\2. Python for DA\\1. Khai giảng\GDPlist.csv", encoding = "ISO-8859-1")
data.head(1000)

          Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [11]:
# import matplotlib.pyplot as plt
# plt.hist(data.GDP (millions of US$), bin = 200)
# plt.title("Phân bổ GDP theo quốc gia")
# plt.xlabel("Quốc gia")
# plt.ylabel("GDP (millions of US$)")

SyntaxError: invalid syntax (869059025.py, line 2)

In [6]:
data.groupby("Continent")["Country"].count()

Continent
Africa           29
Asia             36
Europe           37
North America    11
Oceania           3
South America     9
Name: Country, dtype: int64

In [7]:
data.groupby("Continent")["GDP (millions of US$)"].sum()

Continent
Africa            1820811
Asia             24425891
Europe           19139380
North America    18238447
Oceania           1662727
South America     4141217
Name: GDP (millions of US$), dtype: int64