In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv("FoodPrice_in_Turkey.csv", header = 0)
data1

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [3]:
# mã hóa cột ProductName với One-hot encoder sử dụng sklearn
# đây là tên dữ liệu định tính, định danh. Nếu muốn tính toán dựa trên cột này, cần đổi sang các con số 
from sklearn.preprocessing import OneHotEncoder
en1 = OneHotEncoder(sparse = False)
encoded1 = en1.fit_transform(data1.loc[:,["ProductName"]]) # lấy series
encoded1

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [4]:
aaa = np.array(data1.loc[:, "ProductName"])
aaa

array(['Rice - Retail', 'Rice - Retail', 'Rice - Retail', ...,
       'Cocoa (powder) - Retail', 'Cocoa (powder) - Retail',
       'Cocoa (powder) - Retail'], dtype=object)

In [5]:
aaa.shape

(7381,)

In [6]:
# rời rạc hóa dữ liệu ở cột price

In [7]:
# chia thành 5 khoảng giá trị có độ dài bằng nhau
ccc = pd.cut(data1.loc[:,"Price"], 5)
ccc

0       (0.0947, 32.092]
1       (0.0947, 32.092]
2       (0.0947, 32.092]
3       (0.0947, 32.092]
4       (0.0947, 32.092]
              ...
7376    (32.092, 63.931]
7377    (32.092, 63.931]
7378    (32.092, 63.931]
7379    (32.092, 63.931]
7380    (32.092, 63.931]
Name: Price, Length: 7381, dtype: category
Categories (5, interval[float64, right]): [(0.0947, 32.092] < (32.092, 63.931] < (63.931, 95.769] < (95.769, 127.607] < (127.607, 159.446]]

In [8]:
# số lượng phần tử trong mỗi nhóm
ccc.value_counts()

(0.0947, 32.092]      6223
(32.092, 63.931]       867
(63.931, 95.769]       155
(95.769, 127.607]      105
(127.607, 159.446]      31
Name: Price, dtype: int64

In [9]:
pd.value_counts(ccc)

(0.0947, 32.092]      6223
(32.092, 63.931]       867
(63.931, 95.769]       155
(95.769, 127.607]      105
(127.607, 159.446]      31
Name: Price, dtype: int64

In [10]:
# chia thành 5 phần có số lượng phần tử tương đương nhau
ddd = pd.qcut(data1.loc[:,"Price"], 5)
ddd

0          (2.837, 4.649]
1          (2.837, 4.649]
2           (4.649, 8.19]
3           (4.649, 8.19]
4           (4.649, 8.19]
              ...
7376    (27.676, 159.446]
7377    (27.676, 159.446]
7378    (27.676, 159.446]
7379    (27.676, 159.446]
7380    (27.676, 159.446]
Name: Price, Length: 7381, dtype: category
Categories (5, interval[float64, right]): [(0.253, 2.837] < (2.837, 4.649] < (4.649, 8.19] < (8.19, 27.676] < (27.676, 159.446]]

In [11]:
ddd.value_counts()

(0.253, 2.837]       1477
(2.837, 4.649]       1476
(4.649, 8.19]        1476
(8.19, 27.676]       1476
(27.676, 159.446]    1476
Name: Price, dtype: int64