In [1]:
import pandas as pd
import numpy as np

In [ ]:
%pwd

In [2]:
data = pd.read_csv("FoodPrice_in_Turkey.csv", header = 0, encoding = "ISO-8859-1")
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [ ]:
data.columns

In [ ]:
data.shape

In [ ]:
print(f"Số dòng của bảng: {data.shape[0]}")
print(f"Số cột của bảng: {data.shape[1]}")

In [3]:
data.columns = ["Địa điểm", "Mã SP", "Tên SP", "Đơn vị", "Tên đơn vị", "Tháng", "Năm", "Giá"]
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [ ]:
# data.rename(columns = {"Place": "Địa điểm"}, inplace = True)
# data

In [ ]:
# data.rename(columns = {"Place": "Địa điểm", "ProductId": "Mã sản phẩm"}, inplace = True)
# data

In [4]:
data["Tên cột mới"] = 0
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,Tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,0
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,0
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,0
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,0
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,0
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,0
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,0
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,0
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,0
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,0

In [5]:
data.insert(8, "Chiết khấu (%)", 20)
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,Chiết khấu (%),Tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,20,0
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,20,0
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,20,0
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,20,0
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,20,0
...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,20,0
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,20,0
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,20,0
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,20,0
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,20,0

In [6]:
data.insert(7, "Số lượng", 50)
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,0
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,0
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,0
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,0
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,0
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,0
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,0
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,0
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,0
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,0

In [7]:
data.rename(columns = {"Tên cột mới": "Tổng"}, inplace = True)
data["Tổng"] = data["Giá"] * data["Số lượng"] * (100 - data["Chiết khấu (%)"])/100
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,1916.160
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284

In [8]:
# Thêm 1 dòng mới vào cuối bảng
data.loc[data.shape[0]] = ["Sài Gòn", 3000, "Dưa hấu", 5, "KG", 10, 2022, 10, 50.000, 10, np.NaN]
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7381,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,10,50.0000,10,NaN

In [9]:
# Thêm 1 dòng mới vào đầu bảng
data.loc[-1] = ["Hà Nội", 3001, "Cốm làng Vòng", 5, "KG", 10, 2022, 20, 50.000, 30, np.NaN]
# Update index của bảng
data.index = data.index + 1
# Sắp xếp lại bảng
data = data.sort_index()
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30,NaN
1,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
2,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
3,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
4,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
...,...,...,...,...,...,...,...,...,...,...,...
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,10,50.0000,10,NaN

In [ ]:
data["Tổng"] = data["Giá"] * data["Số lượng"] * (100 - data["Chiết khấu (%)"])/100
data

In [10]:
# Thêm 1 dòng mới sau dòng HN với các giá trị lần lượt là 
data.loc[0.5] = ["Đà Nẵng", 3002, "Mỳ quảng", 5, "Tô", 10, 2022, 20, 100.000, 10, np.NaN]
data = data.sort_index().reset_index(drop = True)
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30,NaN
1,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10,NaN
2,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
3,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
4,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,10,50.0000,10,NaN

In [11]:
data["Tổng"] = data["Giá"] * data["Số lượng"] * (100 - data["Chiết khấu (%)"])/100
data

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30,700.000
1,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10,1800.000
2,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
3,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
4,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,10,50.0000,10,450.000

In [12]:
# Xóa cột
# del df["Tên cột cần xóa"] => xóa ngay trên bảng gốc, không nên dùng

In [15]:
# df.pop("Tên cột cần xóa") => Xóa ngay trên bản gốc, hạn chế dùng
# có thể trả về cột đã xóa

In [17]:
# df.drop("Tên cột cần xóa", axis = 1, inplace = True/False)
# axis = 1 nghĩa là xóa cột
# axis = 0 nghĩa là xóa dòng
# inplace = True => xóa cả dữ liệu gốc = del, pop()
# inplace = False => giữ lại nguyên vẹn dữ liệu gốc (mặc định)

In [20]:
data4 = data
print("Data4")
data4
# Xóa cột "Số lượng" (không xóa trực tiếp trên bản gốc)
data5 = data4.drop("Số lượng", axis = 1)
# print("Data4")
# data4
print("Data5")
data5
# print("Data gốc")
# data

Data4
Data5

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,Chiết khấu (%),Tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,50.0000,30,700.000
1,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,100.0000,10,1800.000
2,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,20,179.680
3,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,20,183.144
4,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,20,191.460
...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,20,1964.704
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,20,2033.388
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,20,2071.940
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,20,2064.284
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50.0000,10,450.000

In [22]:
# Xóa nhiều cột sử dụng drop
data6 = data.drop(["Chiết khấu (%)", "Số lượng"], axis = 1)
data
data6

,Địa điểm,Mã SP,Tên SP,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,Tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,50.0000,700.000
1,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,100.0000,1800.000
2,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,179.680
3,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,183.144
4,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,191.460
...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,1964.704
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,2033.388
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,2071.940
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,2064.284
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50.0000,450.000

In [ ]:
# xóa dòng sử dụng drop
# df.drop(cs, axis = 0, inplace = True/False)