In [1]:
import pandas as pd

In [2]:
# ƒê·ªçc b·ªô d·ªØ li·ªáu, cho bi·∫øt s·ªë d√≤ng, s·ªë c·ªôt v√† ki·ªÉu d·ªØ li·ªáu c·ªßa c√°c thu·ªôc t√≠nh.
data = pd.read_csv("GDPlist.csv", header = 0, encoding = "ISO-8859-1")
data

          Country      Continent  GDP (millions of US$)
0    ¬†Afghanistan           Asia                  18181
1        ¬†Albania         Europe                  12847
2        ¬†Algeria         Africa                 190709
3         ¬†Angola         Africa                 100948
4      ¬†Argentina  South America                 447644
..            ...            ...                    ...
120   ¬†Uzbekistan           Asia                  45353
121    ¬†Venezuela  South America                 315841
122      ¬†Vietnam           Asia                 122722
123        ¬†Yemen         Africa                  33675
124       ¬†Zambia         Africa                  19206

[125 rows x 3 columns]

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [4]:
data.shape

(125, 3)

In [5]:
print(f"S·ªë d√≤ng d·ªØ li·ªáu l√† {data.shape[0]}")
print(f"S·ªë c·ªôt d·ªØ li·ªáu l√† {data.shape[1]}")

S·ªë d√≤ng d·ªØ li·ªáu l√† 125
S·ªë c·ªôt d·ªØ li·ªáu l√† 3

In [6]:
# Vi·ªát h√≥a t√™n c√°c c·ªôt trong b·∫£ng d·ªØ li·ªáu: Country ü°™ Nuoc; Continent ü°™ Chauluc; GDP (millions of US$) ü°™ GDP (trieu $)
data.rename(columns = {"Country":"Nuoc", "Continent":"Chauluc", "GDP (millions of US$)":"GDP (trieu $)"}, inplace = True)
data

             Nuoc        Chauluc  GDP (trieu $)
0    ¬†Afghanistan           Asia          18181
1        ¬†Albania         Europe          12847
2        ¬†Algeria         Africa         190709
3         ¬†Angola         Africa         100948
4      ¬†Argentina  South America         447644
..            ...            ...            ...
120   ¬†Uzbekistan           Asia          45353
121    ¬†Venezuela  South America         315841
122      ¬†Vietnam           Asia         122722
123        ¬†Yemen         Africa          33675
124       ¬†Zambia         Africa          19206

[125 rows x 3 columns]

In [7]:
# Ch√®n th√™m m·ªôt c·ªôt ‚ÄúThanhpho‚Äù v√†o sau c·ªôt ‚ÄúNuoc‚Äù, gi√° tr·ªã ban ƒë·∫ßu l√† gi√° tr·ªã c·ªßa c·ªôt ‚ÄúNuoc‚Äù    
data.insert(1, "Thanhpho", data.loc[:, "Nuoc"])
data

             Nuoc      Thanhpho        Chauluc  GDP (trieu $)
0    ¬†Afghanistan  ¬†Afghanistan           Asia          18181
1        ¬†Albania      ¬†Albania         Europe          12847
2        ¬†Algeria      ¬†Algeria         Africa         190709
3         ¬†Angola       ¬†Angola         Africa         100948
4      ¬†Argentina    ¬†Argentina  South America         447644
..            ...           ...            ...            ...
120   ¬†Uzbekistan   ¬†Uzbekistan           Asia          45353
121    ¬†Venezuela    ¬†Venezuela  South America         315841
122      ¬†Vietnam      ¬†Vietnam           Asia         122722
123        ¬†Yemen        ¬†Yemen         Africa          33675
124       ¬†Zambia       ¬†Zambia         Africa          19206

[125 rows x 4 columns]

In [8]:
# Trong c·ªôt Thanhpho, thay gi√° tr·ªã Vietnam th√†nh Hanoi; L√†m t∆∞∆°ng t·ª± v·ªõi c√°c n∆∞·ªõc c√≤n l·∫°i.
data['Thanhpho'].replace('Vietnam','Hanoi',inplace = True)
data

             Nuoc      Thanhpho        Chauluc  GDP (trieu $)
0    ¬†Afghanistan  ¬†Afghanistan           Asia          18181
1        ¬†Albania      ¬†Albania         Europe          12847
2        ¬†Algeria      ¬†Algeria         Africa         190709
3         ¬†Angola       ¬†Angola         Africa         100948
4      ¬†Argentina    ¬†Argentina  South America         447644
..            ...           ...            ...            ...
120   ¬†Uzbekistan   ¬†Uzbekistan           Asia          45353
121    ¬†Venezuela    ¬†Venezuela  South America         315841
122      ¬†Vietnam      ¬†Vietnam           Asia         122722
123        ¬†Yemen        ¬†Yemen         Africa          33675
124       ¬†Zambia       ¬†Zambia         Africa          19206

[125 rows x 4 columns]

In [9]:
# X√≥a c√°c b·∫£n ghi c√≥ Chauluc l√† ‚ÄòAsia‚Äô
data.drop(data.loc[data.Chauluc == "Asia"].index, axis = 0, inplace = True)
data

               Nuoc        Thanhpho        Chauluc  GDP (trieu $)
1          ¬†Albania        ¬†Albania         Europe          12847
2          ¬†Algeria        ¬†Algeria         Africa         190709
3           ¬†Angola         ¬†Angola         Africa         100948
4        ¬†Argentina      ¬†Argentina  South America         447644
5        ¬†Australia      ¬†Australia        Oceania        1488221
..              ...             ...            ...            ...
118  ¬†United States  ¬†United States  North America       15094025
119        ¬†Uruguay        ¬†Uruguay  South America          46872
121      ¬†Venezuela      ¬†Venezuela  South America         315841
123          ¬†Yemen          ¬†Yemen         Africa          33675
124         ¬†Zambia         ¬†Zambia         Africa          19206

[89 rows x 4 columns]

In [12]:
# X√≥a c√°c b·∫£n ghi c√≥ GDP < 300000
data.drop(data.loc[data.`GDP (trieu $)` < 300000].index, axis = 0, inplace = True)
data

SyntaxError: invalid syntax (1326656820.py, line 2)