In [1]:
import pandas as pd

In [4]:
dat2 = pd.read_csv("GDPlist.csv", header = 0, encoding = "ISO-8859-1")
dat2

          Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]

In [6]:
dat2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB

In [8]:
dat2["Country"].unique()

array(['\xa0Afghanistan', '\xa0Albania', '\xa0Algeria', '\xa0Angola',
       '\xa0Argentina', '\xa0Australia', '\xa0Austria', '\xa0Azerbaijan',
       '\xa0Bahrain', '\xa0Bangladesh', '\xa0Belarus', '\xa0Belgium',
       '\xa0Bolivia', '\xa0Bosnia and Herzegovina', '\xa0Botswana',
       '\xa0Brazil', '\xa0Brunei', '\xa0Bulgaria', '\xa0Burma',
       '\xa0Cambodia', '\xa0Cameroon', '\xa0Canada', '\xa0Chile',
       '\xa0China', '\xa0Colombia',
       '\xa0Congo, Democratic Republic of the',
       '\xa0Congo, Republic of the', '\xa0Costa Rica',
       "\xa0Côte d'Ivoire", '\xa0Croatia', '\xa0Cyprus',
       '\xa0Czech Republic', '\xa0Denmark', '\xa0Dominican Republic',
       '\xa0Ecuador', '\xa0Egypt', '\xa0El Salvador',
       '\xa0Equatorial Guinea', '\xa0Estonia', '\xa0Ethiopia',
       '\xa0Finland', '\xa0France', '\xa0Gabon', '\xa0Georgia',
       '\xa0Germany', '\xa0Ghana', '\xa0Greece', '\xa0Guatemala',
       '\xa0Honduras', '\xa0Hong Kong', '\xa0Hungary', '\xa0Iceland',
       '\xa0India', '\xa0Indonesia', '\xa0Iran', '\xa0Iraq',
       '\xa0Ireland', '\xa0Israel', '\xa0Italy', '\xa0Jamaica',
       '\xa0Japan', '\xa0Jordan', '\xa0Kazakhstan', '\xa0Kenya',
       '\xa0Kuwait', '\xa0Latvia', '\xa0Lebanon', '\xa0Libya',
       '\xa0Lithuania', '\xa0Luxembourg', '\xa0Malaysia', '\xa0Mali',
       '\xa0Mauritius', '\xa0Mexico', '\xa0Morocco', '\xa0Mozambique',
       '\xa0Namibia', '\xa0Nepal', '\xa0Netherlands', '\xa0New Zealand',
       '\xa0Nigeria', '\xa0Norway', '\xa0Oman', '\xa0Pakistan',
       '\xa0Panama', '\xa0Papua New Guinea', '\xa0Paraguay', '\xa0Peru',
       '\xa0Philippines', '\xa0Poland', '\xa0Portugal', '\xa0Qatar',
       '\xa0Romania', '\xa0Russia', '\xa0Saudi Arabia', '\xa0Senegal',
       '\xa0Serbia', '\xa0Singapore', '\xa0Slovakia', '\xa0Slovenia',
       '\xa0South Africa', '\xa0South Korea', '\xa0Spain',
       '\xa0Sri Lanka', '\xa0Sudan + \xa0South Sudan', '\xa0Sweden',
       '\xa0Switzerland', '\xa0Taiwan', '\xa0Tanzania', '\xa0Thailand',
       '\xa0Trinidad and Tobago', '\xa0Tunisia', '\xa0Turkey',
       '\xa0Turkmenistan', '\xa0Uganda', '\xa0Ukraine',
       '\xa0United Arab Emirates', '\xa0United Kingdom',
       '\xa0United States', '\xa0Uruguay', '\xa0Uzbekistan',
       '\xa0Venezuela', '\xa0Vietnam', '\xa0Yemen', '\xa0Zambia'],
      dtype=object)

In [9]:
dat2["Continent"].unique()

array(['Asia', 'Europe', 'Africa', 'South America', 'Oceania',
       'North America'], dtype=object)

In [11]:
# Kiểm định giả thiết H0: "Trung bình GDP của các quốc gia trên thế giới là 500 tỷ USD/năm"

In [13]:
stats.ttest_1samp(dat2["GDP (millions of US$)"], popmean = 500000)

NameError: name 'stats' is not defined