In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.DataFrame()
print(df)
display(df)

Empty DataFrame
Columns: []
Index: []

Empty DataFrame
Columns: []
Index: []

In [16]:
# Tạo DataFrame từ list
# Khai báo list
list = ["Kế toán", "Kinh doanh", "Tiếp thị"]
# Gán giá trị của List vào DataFrame
df = pd.DataFrame(list, columns = ["Ngành"])
df

        Ngành
0     Kế toán
1  Kinh doanh
2    Tiếp thị

In [14]:
# Tạo DataFrame từ Tuple
# Khai báo Tuple
tuples = [("Kế toán", 2000), ("Kinh doanh", 2100), ("Tiếp thị", 1900)]
# Gán giá trị của Tuple vào DataFrame
df = pd.DataFrame(tuples, columns = ["Nghề", "Lương"])
df

         Nghề  Lương
0     Kế toán   2000
1  Kinh doanh   2100
2    Tiếp thị   1900

In [20]:
# Tạo DataFrame từ Dictionary
# Khai báo Dictionary
dict = {"Công việc":['Kỹ sư', "Bác sĩ", "Giáo viên"],\
        "Thu nhập":[3000, 3100, 2900]}
# Gán giá trị của Dictionary vào DataFrame
df = pd.DataFrame(dict)
df

   Công việc  Thu nhập
0      Kỹ sư      3000
1     Bác sĩ      3100
2  Giáo viên      2900

In [21]:
# Tạo series từ Dictionary
# Khai báo Dictionary
dict = {0: "Kế toán", 1: "Kinh doanh", 2: "Tiếp thị"}
# Gán giá trị của Dictionary vào Series
seri = pd.Series(dict)
seri

0       Kế toán
1    Kinh doanh
2      Tiếp thị
dtype: object