In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("FoodPrice_in_Turkey.csv", header = 0, encoding = "ISO-8859-1")
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [ ]:
# THAO TÁC VỚI Ô

In [ ]:
# Thêm 2 dòng có index -1, 2.5 vào bảng
data.loc[-1] = ['ThanhHoa', 66, 'Nem chua', 5, 'KG', 6, 2022, 66.1234]
data.loc[2.5] = ['DaNang', 77, 'BTCTH', 5, 'KG', 6, 2022, 77.1234]
data = data.sort_index()
display(data.head(10))

In [ ]:
# lấy dòng có chứa Đà Nẵng
data.loc[2.5]

In [ ]:
# lấy dòng có chứa Đà Nẵng dùng iloc => nên dùng khi lấy dòng đầu tiên iloc[0]
data.iloc[4]

In [ ]:
# lấy dòng chứa DN, Thanh Hóa theo thứ tự đó
data.loc[[2.5, -1]]

In [ ]:
# lấy dòng chứa DN, Thanh Hóa theo thứ tự đó dùng iloc
data.iloc[[4, 0]]

In [ ]:
# truy xuất nhiều dòng liền nhau
# truy xuất các dòng từ TH đến ĐN dùng loc
data.loc[-1:2.5]

In [ ]:
# truy xuất nhiều dòng liền nhau
# truy xuất các dòng từ TH đến ĐN dùng iloc
data.iloc[0:5] #ĐN vị trí 4, cần +1 = 5

In [ ]:
data.iloc[:5]

In [ ]:
# nếu index bằng chữ thì chỉ dùng loc, không dùng iloc

In [ ]:
# Truy xuất tới cột
# df.loc[:, "Tên cột"]
# df.iloc[:, "Chỉ số cột đếm từ 0"]

In [ ]:
data.loc[:, "ProductName"]

In [ ]:
data.iloc[:, 2]

In [ ]:
# Truy xuất tới nhiều cột rời rạc
data.loc[:, ["ProductName", "Place"]]

In [ ]:
data.iloc[:, [2,0]]

In [ ]:
# Truy xuất nhiều cột liền nhau
data.loc[:, "ProductId":"UmName"]

In [ ]:
data.iloc[:, 1:5] #nhớ +1 cột cuối

In [ ]:
data.loc[9] = ['NhaTrang', 88, 'Cá ngựa khô', 5, 'KG', 10, 2022, 77.1234]
data.head(15)

In [ ]:
# Truy xuất tới một số cột và hàng liên tiếp
# lấy cột từ Place đến ProductName, 10 hàng bắt đầu từ ĐN
data.loc[2.5:11,"Place":"ProductName"]

In [ ]:
data.iloc[4:14,0:3]

In [ ]:
data.loc[9, "ProductName"]

In [ ]:
data.iloc[11,2]

In [ ]:
# Bonus: Slicer
# Cấu trúc selector a:b:c => a: bắt đầu, b: kết thúc + 1 (hoặc bắt đầu + số lượng), c: Khoảng cách
# ví dụ: data.iloc[0:100:2,0:7:2]: lấy dòng từ index 0-101 cách nhau 2 vị trí, lấy cột từ 0-8 cách nhau 2 cột

In [ ]:
data.iloc[0:100:2,0:7:2]

In [ ]:
# chained indexing (chỉ nên dùng để truy vấn, ko nên dùng để set dữ liệu)
# df[Tên cột][index]

In [ ]:
# sử dụng at
# df.at[index, "tên cột"]
data.loc[0, "Place"]

In [ ]:
# set dữ liệu
data.loc[0, "Place"] = "SaiGon"
data

In [ ]:
data.replace