In [1]:
import pandas as pd
import numpy as np

In [6]:

a = pd.Series([2, 4, np.NaN, 8], dtype = pd.Int64Dtype())
a

0       2
1       4
2    <NA>
3       8
dtype: Int64

In [5]:
# Tạo dữ liệu khuyết thiếu từ 1 list
b = pd.Series([2, 4, np.NaN, 8], dtype = pd.DatetimeTZDtype(tz = "Europe/London"))
b

0   1970-01-01 01:00:00.000000002+01:00
1   1970-01-01 01:00:00.000000004+01:00
2                                   NaT
3   1970-01-01 01:00:00.000000008+01:00
dtype: datetime64[ns, Europe/London]

In [7]:
# Kiểm tra giá trị có bị khuyết thiếu không?
a.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [8]:
a.notnull()

0     True
1     True
2    False
3     True
dtype: bool

In [11]:
# Xử lý dữ liệu khuyết thiếu: có 3 cách
# 1. Bỏ qua
# 2. Xóa đi (khi số lượng dữ liệu khuyết thiếu ít, tính chất không quan trọng), bằng 5 cách sau:
# 2.1. Xóa dòng chứa ít nhất 1 giá trị khuyết thiếu: dropna(inplace = True/False)
# 2.2. Xóa cột chứa ít nhất 1 giá trị khuyết thiếu: dropna(axis = "columns") hoặc dropna(axis = 1)
# 2.3. Xóa các dòng mà chứa toàn giá trị bị khuyết: dropna(how = "all")
# 2.4. Chỉ giữ lại những dòng có tối đa n giá trị bị khuyết thiếu: dropna(thresh = n)
# 2.5. Xóa những dòng nếu có dữ liệu khuyết thiếu trên một số cột: df.dropna(subset=[danh sách cột])
# 3. Thay thế bằng 1 giá trị phù hợp với tổng thể dữ liệu chung, có 4 cách sau:
# 3.1. Thay thế giá trị bị khuyết thiếu bằng 1 giá trị vô hướng: fillna(value)
# 3.2. Thay thế bằng các giá trị trước đó: fillna(method = "ffill")
# 3.3. Thay thế bằng các giá trị sau đó: fillna(method = "bfill")
# 3.4. Thay thế bằng các giá trị xác định trên mỗi cột: fillna(value = {"Lương": 0, "City": "Hanoi", "C": 2, "D":3})