In [1]:
import pandas as pd
import sqlalchemy as sql

engine = sql.create_engine("mysql://hocvien:CodeGym@14.225.44.220:3306/classicmodels?charset=utf8mb4")

print("Connecting with engine "+ str(engine))
connection = engine.connect()

print("Connected")

Connecting with engine Engine(mysql://hocvien:***@14.225.44.220:3306/classicmodels?charset=utf8mb4)
Connected

In [2]:
query = "SELECT orders.customerNumber, customers.customerName, orders.orderDate \
FROM orders \
JOIN customers ON orders.customerNumber=customers.customerNumber;"

vd = pd.read_sql_query(query,connection)
vd

     customerNumber                  customerName   orderDate
0               363  Online Diecast Creations Co.  2003-01-06
1               128          Blauer See Auto, Co.  2003-01-09
2               181               Vitachrome Inc.  2003-01-10
3               121            Baane Mini Imports  2003-01-29
4               141        Euro+ Shopping Channel  2003-01-31
..              ...                           ...         ...
321             124  Mini Gifts Distributors Ltd.  2005-05-29
322             157         Diecast Classics Inc.  2005-05-30
323             314                    Petit Auto  2005-05-30
324             141        Euro+ Shopping Channel  2005-05-31
325             119             La Rochelle Gifts  2005-05-31

[326 rows x 3 columns]