In [3]:
#KHAI BÁO THƯ VIỆN
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import ipywidgets as widgets
from ipywidgets import interact as interact
print("Khai báo thư viện thành công")

Khai báo thư viện thành công

In [5]:
# NHẬP DỮ LIỆU
dat = pd.read_csv("granted-citizenship-1949-2019.csv")
dat

,Country of Birth,Total,%,1949,1950,1951,1952,1953,1954,1955,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aden,25,0.00%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0
1,Afghanistan,3499,0.38%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,78.0,48.0,136.0,79.0,117.0,103.0,64.0,137.0,305.0,255.0
2,Albania,144,0.02%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.0,6.0,10.0,1.0,4.0,8.0,2.0,1.0,3.0,2.0
3,Algeria,241,0.03%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,1.0,6.0,5.0,7.0,12.0,5.0,7.0,6.0,4.0
4,American Samoa,862,0.09%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41.0,36.0,58.0,48.0,44.0,51.0,48.0,40.0,58.0,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Zaire,25,0.00%,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,1.0,NaN
321,Zambia,1423,0.16%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,34.0,51.0,53.0,77.0,41.0,57.0,56.0,49.0,38.0,48.0
322,Zanzibar,3,0.00%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,Zimbabwe,8284,0.91%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,249.0,619.0,687.0,601.0,546.0,453.0,444.0,333.0,234.0,177.0
324,TOTAL,910232,100.00%,18629.0,230.0,369.0,388.0,390.0,631.0,798.0,...,15178.0,19287.0,27221.0,27895.0,27891.0,27585.0,31956.0,36450.0,35737.0,31030.0

In [6]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 74 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country of Birth  325 non-null    object
 1   Total             325 non-null    int64
 2   %                 325 non-null    object
 3   1949              118 non-null    float64
 4   1950              40 non-null     float64
 5   1951              48 non-null     float64
 6   1952              46 non-null     float64
 7   1953              51 non-null     float64
 8   1954              60 non-null     float64
 9   1955              62 non-null     float64
 10  1956              66 non-null     float64
 11  1957              68 non-null     float64
 12  1958              65 non-null     float64
 13  1959              74 non-null     float64
 14  1960              81 non-null     float64
 15  1961              73 non-null     float64
 16  1962              71 non-null     float64
 17  1963              70 non-null     float64
 18  1964              73 non-null     float64
 19  1965              80 non-null     float64
 20  1966              75 non-null     float64
 21  1967              92 non-null     float64
 22  1968              93 non-null     float64
 23  1969              98 non-null     float64
 24  1970              85 non-null     float64
 25  1971              83 non-null     float64
 26  1972              99 non-null     float64
 27  1973              107 non-null    float64
 28  1974              98 non-null     float64
 29  1975              114 non-null    float64
 30  1976              114 non-null    float64
 31  1977              136 non-null    float64
 32  1978              154 non-null    float64
 33  1979              144 non-null    float64
 34  1980              143 non-null    float64
 35  1981              147 non-null    float64
 36  1982              147 non-null    float64
 37  1983              125 non-null    float64
 38  1984              135 non-null    float64
 39  1985              130 non-null    float64
 40  1986              126 non-null    float64
 41  1987              143 non-null    float64
 42  1988              145 non-null    float64
 43  1989              144 non-null    float64
 44  1990              152 non-null    float64
 45  1991              147 non-null    float64
 46  1992              141 non-null    float64
 47  1993              155 non-null    float64
 48  1994              148 non-null    float64
 49  1995              152 non-null    float64
 50  1996              154 non-null    float64
 51  1997              164 non-null    float64
 52  1998              165 non-null    float64
 53  1999              184 non-null    float64
 54  2000              190 non-null    float64
 55  2001              184 non-null    float64
 56  2002              179 non-null    float64
 57  2003              182 non-null    float64
 58  2004              192 non-null    float64
 59  2005              171 non-null    float64
 60  2006              185 non-null    float64
 61  2007              192 non-null    float64
 62  2008              191 non-null    float64
 63  2009              187 non-null    float64
 64  2010              166 non-null    float64
 65  2011              186 non-null    float64
 66  2012              204 non-null    float64
 67  2013              197 non-null    float64
 68  2014              201 non-null    float64
 69  2015              197 non-null    float64
 70  2016              203 non-null    float64
 71  2017              204 non-null    float64
 72  2018              204 non-null    float64
 73  2019              196 non-null    float64
dtypes: float64(71), int64(1), object(2)
memory usage: 188.0+ KB