In [1]:
import pandas as pd
import sqlalchemy as sql

In [2]:
hostname = 'mysql.anbelly.com'
username = 'hocvien'
userpassword = '12345678'
dbname = 'casestudy'

In [3]:
engine = sql.create_engine(
    sql.engine.url.URL.create(
        drivername="mysql",
        username=username,
        password=userpassword,
        host=hostname,
        port=3306,
        database=dbname,
    ),
    echo_pool=True,
)
print("connecting with engine " + str(engine))

connection = engine.connect()

print('Connected')

connecting with engine Engine(mysql://hocvien:***@mysql.anbelly.com:3306/casestudy)
Connected

In [5]:
cat = pd.read_sql_query("SELECT * FROM Catalogue", connection)
cat

,Manufacturer,Model,Price_in_thousands,Engine_size,Horsepower,Wheelbase,Width,Length,Curb_weight,Fuel_capacity,Fuel_efficiency,Latest_Launch,Power_perf_factor
0,Lincoln,MKX/Nautilus,28.400,3.2,225.0,108.1,70.3,192.9,3.517,17.2,25.0,2011-06-03,91.370778
1,Cadillac,XT4,21.975,3.1,175.0,109.0,72.7,194.6,3.368,17.5,25.0,2011-11-02,71.181451
2,Infiniti,QX60,25.300,3.8,240.0,109.0,72.7,196.2,3.543,17.5,23.0,2011-09-03,95.636703
3,Jaguar,E0Pace,31.965,3.8,205.0,113.8,74.7,206.8,3.778,18.5,24.0,2012-03-23,85.828408
4,Volvo,XC60,27.885,3.8,205.0,112.2,73.5,200.0,3.591,17.5,25.0,2011-07-23,84.254526
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,Infiniti,QX30,16.888,2.0,127.0,94.9,66.7,163.8,2.668,15.3,27.0,2011-05-06,51.955109
85,BMW,X5,22.288,2.7,150.0,105.3,66.5,183.3,3.440,18.5,23.0,2011-03-07,62.355577
86,Nissan,Pathfinder,16.700,2.0,115.0,98.9,68.3,172.3,2.853,14.5,26.0,2011-08-27,47.638237
87,Audi,Q7,21.200,1.8,150.0,106.4,68.5,184.1,3.043,16.4,27.0,2012-10-30,61.701381
88,Land Rover,g,15.900,2.0,115.0,98.9,67.9,161.1,2.769,14.5,26.0,2011-10-20,47.329632