# Slide 3: Thao tác với dữ liệu

## Khai báo thư viện

In [1]:
import pandas as pd
import numpy as np
print('Khai bao thanh cong')

Khai bao thanh cong

In [2]:
%pwd

'C:\\Users\\Hung\\Desktop\\Học\\Codegym\\Codegym\\2. Python for DA'

## Nhập dữ liệu

In [3]:
data = pd.read_csv('shopeep_koreantop_clothing_shop_data.csv', header=0)
print('*'*20, "Nhập dữ liệu thành công", '*'*20)
display(data)
data.info()

******************** Nhập dữ liệu thành công ********************

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.💋,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pk_shop             746 non-null    int64
 1   date_collected      746 non-null    object
 2   shopid              746 non-null    int64
 3   name                746 non-null    object
 4   join_month          746 non-null    object
 5   join_day            746 non-null    int64
 6   join_year           746 non-null    int64
 7   item_count          746 non-null    int64
 8   follower_count      746 non-null    int64
 9   response_time       746 non-null    object
 10  response_rate       746 non-null    int64
 11  shop_location       428 non-null    object
 12  rating_bad          746 non-null    int64
 13  rating_good         746 non-null    int64
 14  rating_normal       746 non-null    int64
 15  rating_star         740 non-null    float64
 16  is_shopee_verified  746 non-null    int64
 17  is_official_shop    746 non-null    int64
dtypes: float64(1), int64(12), object(5)
memory usage: 105.0+ KB

## 1. Lọc dữ liệu

**Quy mô dữ liệu của doanh nghiệp ngày càng tăng do xu hướng số hóa doanh nghiệp:**  
- **làm gia tăng quy mô dữ liệu** 
- **sự thiếu nhất quán**  
- **nhiều thông tin nhiễu**  
**-> Lọc dữ liệu trả về bộ dữ liệu phù hợp với nhu cầu người dùng.**

### 1.1 Lọc sử dụng .loc[], .iloc[]

<font color='red' size="5" >**df.loc[thông tin hàng, thông tin cột]**</font>

**Ví dụ 1: Lọc lấy cột 'name'**

In [4]:
data.loc[:,'name']

0              hello.may.ph
1           love.women.shop
2             R&O RedOrange
3               patriciacai
4      Little Market Manila
               ...
741       Yacent_thrift_Clo
742             Akistore.ph
743            Yzanice Shop
744          Clairecvc Shop
745             angelcity.💋
Name: name, Length: 746, dtype: object

**Ví dụ 2: Lọc lấy cột 'name' và 'shop_location'**

In [5]:
data.loc[:,['name','shop_location']] #Danh sách (list) các cột đơn lẻ thì phải để trong [...]

                     name               shop_location
0            hello.may.ph                         NaN
1         love.women.shop    San Nicolas,Metro Manila
2           R&O RedOrange     Pasay City,Metro Manila
3             patriciacai        Binondo,Metro Manila
4    Little Market Manila  Caloocan City,Metro Manila
..                    ...                         ...
741     Yacent_thrift_Clo          Legazpi City,Albay
742           Akistore.ph                         NaN
743          Yzanice Shop                         NaN
744        Clairecvc Shop        Binondo,Metro Manila
745           angelcity.💋     Pasay City,Metro Manila

[746 rows x 2 columns]

In [6]:
data.filter(['name','shop_location'])

                     name               shop_location
0            hello.may.ph                         NaN
1         love.women.shop    San Nicolas,Metro Manila
2           R&O RedOrange     Pasay City,Metro Manila
3             patriciacai        Binondo,Metro Manila
4    Little Market Manila  Caloocan City,Metro Manila
..                    ...                         ...
741     Yacent_thrift_Clo          Legazpi City,Albay
742           Akistore.ph                         NaN
743          Yzanice Shop                         NaN
744        Clairecvc Shop        Binondo,Metro Manila
745           angelcity.💋     Pasay City,Metro Manila

[746 rows x 2 columns]

**Ví dụ 3: Lọc lấy cột từ 'name' tới 'shop_location'**

In [7]:
data.loc[:,'name':'shop_location']

,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location
0,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN
1,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila"
2,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila"
3,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila"
4,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila"
...,...,...,...,...,...,...,...,...,...
741,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay"
742,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN
743,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN
744,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila"
745,angelcity.💋,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila"

In [8]:
# data.filter(['name':'shop_location']) # Filter() không dùng được slice xx:yy
# gõ danh sách các tên thủ công
data.filter(['name', 'join_month', 'join_day', 'join_year',
             'item_count', 'follower_count', 'response_time',
             'response_rate', 'shop_location', 'shop_location'])

,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,shop_location
0,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,NaN
1,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila","San Nicolas,Metro Manila"
2,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila","Pasay City,Metro Manila"
3,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila","Binondo,Metro Manila"
4,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila","Caloocan City,Metro Manila"
...,...,...,...,...,...,...,...,...,...,...
741,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay","Legazpi City,Albay"
742,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,NaN
743,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,NaN
744,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila","Binondo,Metro Manila"
745,angelcity.💋,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila","Pasay City,Metro Manila"

**Ví dụ 4: Lọc lấy hàng có index = 222**

In [9]:
data.loc[222,:]

pk_shop               20210621417317962
date_collected               2021-06-21
shopid                        417317962
name                         MEIMEITALL
join_month                        April
join_day                              5
join_year                          2021
item_count                          477
follower_count                     1430
response_time                  09:20:04
response_rate                        96
shop_location                       NaN
rating_bad                            7
rating_good                         471
rating_normal                        19
rating_star                        4.82
is_shopee_verified                    1
is_official_shop                      0
Name: 222, dtype: object

In [10]:
data.filter([222], axis = 0) #Ví dụ đúng

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
222,20210621417317962,2021-06-21,417317962,MEIMEITALL,April,5,2021,477,1430,09:20:04,96,NaN,7,471,19,4.82,1,0

In [11]:
data.filter([:])[222] #Không được (ví dụ sai)

SyntaxError: invalid syntax (4257133879.py, line 1)

**Ví dụ 5: Lọc lấy hàng có index = 222, 444 và 666**

In [ ]:
data.loc[[222, 444, 666],:] #Danh sách các hàng đơn lẻ thì phải để trong [...]

In [ ]:
data.filter([222, 444, 666], axis = 0)

**Ví dụ 6: Lọc lấy hàng có index từ 100 tới 200**

In [ ]:
data.loc[100:200,:]

In [ ]:
data.filter(['name', 'join_month', 'join_day', 'join_year',
             'item_count', 'follower_count', 'response_time',
             'response_rate', 'shop_location', 'shop_location'])[100:201]

**Ví dụ 7: Lọc lấy bảng có index từ 300 tới 400 chỉ chứa cột từ 'rating_bad' tới 'rating_star'**

In [ ]:
data.loc[300:400,'rating_bad':'rating_star']

In [ ]:
data.iloc[300:401,12:16]

In [ ]:
data.filter(['rating_bad', 'rating_good', 'rating_normal', 'rating_star'])[300:401]

### 1.2 Lọc bằng hàm filter()

<font color='red' size="5" >**df.filter([‘Tên_cột_1', …,‘Tên_cột_n']) [chỉ_số_dòng_đầu : chỉ_số_dòng_cuối+1]**</font>  
**Chủ yếu là để lọc lấy cột**

**Ví dụ 1: Lọc lấy cột 'name'**

In [ ]:
data.filter(['name'])

### 1.3 Lọc sử dụng điều kiện

#### **1.3.1 Lọc theo điều kiện đơn**  
<font color='red' size="5" >**df[df[‘Tên_cột’] PTSS giá_trị]**</font>  
**Trong đó phép toán so sánh PTSS sử dụng các phép toán so sánh gồm: ==, <, <=, >, >=, !=**  
**(giá_trị cần so sánh được để trong cặp dấu nháy đơn nếu có kiểu chuỗi ký tự)**

In [ ]:
data.head(8)

**Ví dụ 1: Lọc lấy dữ liệu có tháng tham gia là tháng 6**

In [ ]:
data[data['join_month']=='June']
# data[data.loc[:,'join_month']=='June'] #Hơi dài

**Ví dụ 2: Lọc lấy dữ liệu có trên 500 đánh giá tốt**

In [ ]:
data[data['rating_good']>=500]

**Ví dụ 3: Lọc lấy tên các shop và địa chỉ có trên 1000 đánh giá tốt**

In [ ]:
data[['name','shop_location']][data['rating_good']>1000] #Chained index

In [ ]:
data.loc[:,['name','shop_location']][data['rating_good']>1000] #Dùng loc, chọn trước, điều kiện sau

In [ ]:
data[data['rating_good'] > 1000].loc[:,['name','shop_location']] #Điều kiện trước, chọn cột sau

In [ ]:
data[data['rating_good'] > 1000].filter(['name','shop_location']) #Dùng filter()

**Lọc theo điều kiện phức**  
<font color='red' size="5" >**df[(df[‘Tên_cột_1’] PTSS giá_trị) PTLG (df[‘Tên_cột_n’] PTSS giá_trị_n)]**</font>  
<font color='red' size="5" >**df[(so sánh 1) PTLG (so sanh 2)]**</font>
**Các điều kiện được nối với nhau bởi phép toán logic PTLG gồm: & (và), | (hoặc), ~ (phủ định)**

**Ví dụ 4: Lọc lấy tên các shop và địa chỉ có trên 1000 đánh giá tốt và trung bình đánh giá trên 4.8 sao**

In [ ]:
data[['name','shop_location']][(data['rating_good'] > 1000) & (data['rating_star']>4.8)]

In [ ]:
data[(data['rating_good'] > 1000) & (data['rating_star'] > 4.8)]\
.filter(['name','shop_location'])

In [ ]:
data.loc[:, ['name', 'shop_location']]\
[(data['rating_good']>1000) & (data['rating_star']>4.8)]

**Ví dụ 5: Lọc lấy các dữ liệu của các shop có trên 4 năm tồn tại, được shoppe verify, và không có quá 200 đánh giá xấu**

In [ ]:
data[(data['join_year']<=2017) 
     & (data['is_shopee_verified']==1) 
     & (data['rating_bad'] < 200)]

**Ví dụ 6: Lọc lấy các dữ liệu của các shop có địa chỉ ở Manila**  
xxx.str.contains('string')==True

In [ ]:
data[data['shop_location'].str.contains('Manila')==True]

**Ví dụ 7: Tên cột có chứa dấu cách.**  
**shop_location -> shop location**

### 1.4 Lọc bằng hàm query()

**Phương thức truy vấn query giúp câu lệnh truy vấn chạy nhanh hơn**  
**Các điều kiện được nối với nhau bởi các phép toán logic như: and (và), or (hoặc), not (phủ định) và được để trong một cặp dấu nháy kép.**  
<font color='red' size="5" >**df.query("(Tên_cột_1 PTSS giá_trị_1) PTLG (Tên_cột_n PTSS giá_trị_n)")**</font>  
<font color='red' size="5" >**df.query("(so sanh 1) PTLG (so sanh 2)")**</font>

**Ví dụ 1: Lọc lấy tên các shop và địa chỉ có trên 1000 đánh giá tốt và trung bình đánh giá trên 4.8 sao**

In [ ]:
data[(data['rating_good'] > 1000) & (data['rating_star'] > 4.8)]\
.filter(['name','shop_location','rating_good','rating_star'])

In [ ]:
data.query("(rating_good > 1000) and (rating_star > 4.8)")\
.filter(['name','shop_location', 'rating_good','rating_star'])

**Ví dụ 2: Lọc lấy các dữ liệu của các shop có từ 5 năm tồn tại, được shoppe verify, và không có quá 200 đánh giá xấu**

In [ ]:
data.query("join_year <= 2017 and is_shopee_verified == 1 and rating_bad <200")\
.filter(['name','shop_location'])

In [ ]:
data.query("() and () and ()")

**Ví dụ 3: Lọc lấy các dữ liệu của các shop có địa chỉ ở Manila**  
xxx.str.contains('string')==True

In [ ]:
data.query("shop_location.str.contains('Manila')==True")

**Chú ý: Các trường hợp trong tên cột có ký tự đặc biệt, ví dụ dấu cách**  
**Sử dụng dấu 'huyền' để ghi tên cột**

In [ ]:
data.rename(columns= {'shop_location':'shop location'}, inplace=True)
data

In [ ]:
data.query("`shop location`.str.contains('Manila')==True")

## 2. Gom nhóm dữ liệu

**Nhóm – groupby là một hình thức tổng hợp dữ liệu theo chiến lược tách-áp dụng-kết hợp. Đầu tiên dữ liệu được chia thành các nhóm giống nhau rồi áp dụng các phép toán tổng hợp như mean, min, max, count, sum… trên mỗi nhóm và kết hợp các kết quả từ mỗi nhóm.**  
<font color='red' size="5" >**df.groupby(‘Thuộc tính cần phân nhóm’)[‘Thuộc tính cần tính giá trị’].phép toán()**</font>

In [ ]:
data.head()

**Ví dụ 1: Lập bảng số lượng sản phẩm theo tên của shop**

In [ ]:
aaa = data.groupby('name')['item_count'].sum() #.to_frame()
aaa

In [ ]:
type(aaa)

In [ ]:
bbb = data.pivot_table(values='item_count', index='name', aggfunc='sum')
bbb

In [ ]:
type(bbb)

**Ví dụ 2: Lập bảng tính tổng số lượng đánh giá của shop**  
<font color='red' size="5" >**df.groupby(‘Thuộc tính cần phân nhóm’)[‘Thuộc tính cần tính giá trị’].phép toán()**</font>

In [ ]:
data.head()

In [ ]:
data.groupby('name')[['rating_bad','rating_good','rating_normal']].sum()

In [ ]:
data.pivot_table(values=['rating_bad','rating_good','rating_normal'],
                 index= 'name', 
                 aggfunc= 'sum')

**Ví dụ 3: Xuất ra số lượng các shop thành lập theo năm**  
<font color='red' size="5" >**df.groupby(‘Thuộc tính cần phân nhóm’)[‘Thuộc tính cần tính giá trị’].phép toán()**</font>

In [ ]:
data.groupby('join_year')['shopid'].count()

In [ ]:
data.pivot_table(values= 'shopid', index= 'join_year', aggfunc= 'count')

**Có thể dùng hàm pivot_table() thay thế cho hàm groupby()**  
**Trong đó values = thuộc tính cần tính giá trị, index = thuộc tính cần phân nhóm**  
<font color='red' size="5" >**df.pivot_table(values=’a’, index=’b’, columns=’c’, aggfunc=‘hàm’)**</font>

## 3. Sinh dữ liệu từ các cột đã có

### 3.1 Sinh/sửa cột từ các phép toán số học

<font color='red' size="5" >**df.loc[:,'cotmoi']=df.loc[:,'cot1'] phép-toán df.loc[:,'cot2']**</font>  
**Trong đó phép-toán là +, -, `*`, /, %, etc**

**Ví dụ 1: Thêm cột 'rating', công thức là rating = rating_good `*`2 + rating_normal - rating_bad`*`3**

In [ ]:
data.loc[:,['rating_good', 'rating_normal', 'rating_bad']]

In [ ]:
data.loc[:,'rating']= data.loc[:,'rating_good']*2 \
                        + data.loc[:,'rating_normal'] \
                        - data.loc[:,'rating_bad']*3
data.loc[:,['rating_good', 'rating_normal', 'rating_bad','rating']]

In [ ]:
data['rating'] = data['rating_good']*2 + data['rating_normal'] - data['rating_bad']*3
data.loc[:,['rating_good', 'rating_normal', 'rating_bad','rating']]

**Ví dụ 2: Thêm cột 'location' có cấu trúc như sau: 'shop_location, Philippine'**

In [ ]:
a = 'Hanoi'
b ='SaiGon'
a + b

In [ ]:
data.loc[:,'location']= data.loc[:,'shop_location'] + ', Philippine'
data.loc[:,['shop_location','location']]

**Ví dụ 3: Thêm cột 'join' có cấu trúc: 'Month day, year' với dữ liệu từ 'join_month', 'join_day', 'join_year'**  
**Gợi ý: dùng astype(str) để chuyển đổi số thành str**

In [ ]:
data.loc[:,'join_year'] #.astype(str)

In [ ]:
data.loc[:, 'join']= data.loc[:,'join_month'] + ' ' + data.loc[:, 'join_day'].astype(str) + ', '+ data.loc[:, 'join_year'].astype(str)
data.loc[:,['join_month','join_day','join_year','join']]

### 3.2 Sinh/sửa cột từ các phép toán logic

**Sinh ra giá trị True/False theo điều kiện**  
<font color='red' size="5" >**df.loc[:,'cotmoi']=df.loc[:,'cot1'] so-sánh xxx**</font>  
**Trong đó so-sánh là ==, >, <, >=, <=, ~**

**Ví dụ 1: Thêm cột 'test1' với giá trị logic là 'shop mở sau năm 2020'**

In [ ]:
data.loc[:,'test1'] = data.loc[:,'join_year'] > 2020
data.loc[:,['name','join_year','test1']]

**Gán giá trị theo kiểu if...then...else...**  
<font color='red' size="5" >**df.loc[:,'cotmoi'] = np.where(df.loc[:,'cot1'] so-sánh xxx, giá-trị-1, giá-trị-2)**</font>  
**Trong đó so-sánh là ==, >, <, >=, <=, ~**  
**giá-trị-1 là giá trị được điền vào nếu so sánh là đúng, giá-trị-2 là giá trị được điền vào nếu so sánh là sai**

**Ví dụ 2: Thêm cột 'medal' với giá trị là 'gold' nếu có điểm rating >10000 và 'silver' nếu <=10000**

In [ ]:
data.loc[] = np.where(mask, ..., ...)

In [ ]:
data.loc[:,'medal'] = np.where(data.loc[:,'rating']>10000,'gold','silver')
data.loc[:,['name','rating','medal']]

In [ ]:
data.loc[:,'medal2']=np.where(data.loc[:,'test1'], 'gold', 'silver')
data.loc[:,['name','test1','medal2']]

**Gán giá trị theo kiểu switch...case...**  
<font color='red' size="5" >**df.loc[:,'cotmoi']=np.select(các-điều-kiện, các-giá-trị, default)**</font>  
**Trong đó các-điều-kiện là các so sánh, có thể được đặt ở 1 biến riêng**  
**các-giá-trị là các giá trị gán vào với các so sánh tương ứng**

**Ví dụ 3: Sửa cột 'medal' với giá trị là 'gold' nếu có điểm rating =>100000 và 'silver' nếu 50000<=rating<100000 và 'bronze' nếu 10000<=rating<50000 và 'iron' nếu rating <10000**

In [ ]:
conditions = [(data.loc[:,'rating']>=100000),
              (data.loc[:,'rating']>=50000) & (data.loc[:,'rating']<100000),
              (data.loc[:,'rating']>=10000) & (data.loc[:,'rating']<50000)]
values = ['gold','silver','bronze']
data.loc[:,'medal']=np.select(conditions, values, default='iron')
data.loc[:,['name','rating','medal']]

### 3.3 Tách cột thành các cột nhỏ hơn

**Thông thường tách 1 cột chứa nhiều dữ liệu thành các cột chứa từng loại dữ liệu cần thiết**  
**Ví dụ, tách cột chứa thông tin dạng string thành các phần nhỏ.**  
**Hoặc tách ngày tháng năm**

**Ví dụ 1: Tách cột 'shop_location' thành 2 cột 'distric' và 'city'**  
**Gợi ý: dùng hàm str.split('separator') để phân tách nội dung của str**  
**Trong đó 'separator' là ký tự phân chia nội dung, thường là dấu cách ' ' hoặc dấu ','**

In [ ]:
data.loc[:,'shop_location']

In [ ]:
temp = data.loc[:,'shop_location'].str.split(',')
data.loc[:,'distric']= temp.str[0]
data.loc[:,'city']= temp.str[1]
data.loc[:,['shop_location','distric','city']]

**Ví dụ 2: Tách cột date_collected thành 3 cột Day, Month, Year**  
**Gợi ý: dùng hàm <font color='red' size="5" >pandas.to_datetime(dữ-liệu, format).dt.thông-tin</font> để phân tách thời gian**  
**Trong đó 'format' là bố cục của thời gian** 
**thông-tin là loại thông tin muốn lấy, ví dụ hour, minute, day, month, etc.**

In [12]:
data.loc[:,'date_collected']

0      2021-06-13
1      2021-06-13
2      2021-06-13
3      2021-06-13
4      2021-06-13
          ...
741    2021-07-06
742    2021-07-06
743    2021-07-06
744    2021-07-06
745    2021-07-06
Name: date_collected, Length: 746, dtype: object

In [13]:
data.loc[:,'Day']=pd.to_datetime(data.loc[:,'date_collected'],format='%Y-%m-%d').dt.day
data.loc[:,'Month']=pd.to_datetime(data.loc[:,'date_collected'],format='%Y-%m-%d').dt.month
data.loc[:,'Year']=pd.to_datetime(data.loc[:,'date_collected'],format='%Y-%m-%d').dt.year
data.loc[:,['date_collected','Day', 'Month', 'Year']]

    date_collected  Day  Month  Year
0       2021-06-13   13      6  2021
1       2021-06-13   13      6  2021
2       2021-06-13   13      6  2021
3       2021-06-13   13      6  2021
4       2021-06-13   13      6  2021
..             ...  ...    ...   ...
741     2021-07-06    6      7  2021
742     2021-07-06    6      7  2021
743     2021-07-06    6      7  2021
744     2021-07-06    6      7  2021
745     2021-07-06    6      7  2021

[746 rows x 4 columns]

**Ví dụ 3: Tách cột response_time thành 3 cột Hour, Minute, Second**  
**<font color='red' size="5" >pandas.to_datetime(dữ-liệu, format).dt.thông-tin</font>**  
**Chú ý: trong ví dụ này, dữ liệu có thêm dấu cách trước thông tin thời gian**

In [14]:
data.loc[:,'response_time']

0       10:13:55
1       10:43:05
2       08:32:07
3       09:10:38
4       11:40:59
         ...
741     08:45:30
742     08:01:23
743     08:46:30
744     12:19:44
745     10:02:42
Name: response_time, Length: 746, dtype: object

In [15]:
data.loc[:,'Hour']=pd.to_datetime(data.loc[:,'response_time'],format=' %H:%M:%S').dt.hour
data.loc[:,'Minute']=pd.to_datetime(data.loc[:,'response_time'],format=' %H:%M:%S').dt.minute
data.loc[:,'Second']=pd.to_datetime(data.loc[:,'response_time'],format=' %H:%M:%S').dt.second
data.loc[:,['response_time','Hour', 'Minute', 'Second']]

    response_time  Hour  Minute  Second
0        10:13:55    10      13      55
1        10:43:05    10      43       5
2        08:32:07     8      32       7
3        09:10:38     9      10      38
4        11:40:59    11      40      59
..            ...   ...     ...     ...
741      08:45:30     8      45      30
742      08:01:23     8       1      23
743      08:46:30     8      46      30
744      12:19:44    12      19      44
745      10:02:42    10       2      42

[746 rows x 4 columns]