# Slide 3: Thao t√°c v·ªõi d·ªØ li·ªáu

## Khai b√°o th∆∞ vi·ªán

In [1]:
import pandas as pd
import numpy as np
print('Khai bao thanh cong')

Khai bao thanh cong

In [2]:
%pwd

'C:\\Users\\Hung\\Desktop\\H·ªçc\\Codegym\\Codegym\\2. Python for DA'

## Nh·∫≠p d·ªØ li·ªáu

In [3]:
data = pd.read_csv('shopeep_koreantop_clothing_shop_data.csv', header=0)
print('*'*20, "Nh·∫≠p d·ªØ li·ªáu th√†nh c√¥ng", '*'*20)
display(data)
data.info()

******************** Nh·∫≠p d·ªØ li·ªáu th√†nh c√¥ng ********************

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
0,20210613254711738,2021-06-13,254711738,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,181,17510,729,4.81,1,0
1,20210613314198143,2021-06-13,314198143,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila",78,2656,198,4.68,0,0
2,2021061310377223,2021-06-13,10377223,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila",4647,1071829,18073,4.91,1,0
3,2021061321407329,2021-06-13,21407329,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila",44,18959,215,4.94,1,0
4,2021061311187885,2021-06-13,11187885,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila",680,39252,2383,4.73,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
741,20210706449182992,2021-07-06,449182992,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay",0,32,0,5.00,0,0
742,20210706396605392,2021-07-06,396605392,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,1,9,0,4.60,0,0
743,20210706360379308,2021-07-06,360379308,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,16,463,16,4.75,1,0
744,2021070629392066,2021-07-06,29392066,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila",1960,103289,3982,4.78,0,0
745,2021070625811092,2021-07-06,25811092,angelcity.üíã,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila",13401,708666,30799,4.77,0,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 746 entries, 0 to 745
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   pk_shop             746 non-null    int64
 1   date_collected      746 non-null    object
 2   shopid              746 non-null    int64
 3   name                746 non-null    object
 4   join_month          746 non-null    object
 5   join_day            746 non-null    int64
 6   join_year           746 non-null    int64
 7   item_count          746 non-null    int64
 8   follower_count      746 non-null    int64
 9   response_time       746 non-null    object
 10  response_rate       746 non-null    int64
 11  shop_location       428 non-null    object
 12  rating_bad          746 non-null    int64
 13  rating_good         746 non-null    int64
 14  rating_normal       746 non-null    int64
 15  rating_star         740 non-null    float64
 16  is_shopee_verified  746 non-null    int64
 17  is_official_shop    746 non-null    int64
dtypes: float64(1), int64(12), object(5)
memory usage: 105.0+ KB

## 1. L·ªçc d·ªØ li·ªáu

**Quy m√¥ d·ªØ li·ªáu c·ªßa doanh nghi·ªáp ng√†y c√†ng tƒÉng do xu h∆∞·ªõng s·ªë h√≥a doanh nghi·ªáp:**  
- **l√†m gia tƒÉng quy m√¥ d·ªØ li·ªáu** 
- **s·ª± thi·∫øu nh·∫•t qu√°n**  
- **nhi·ªÅu th√¥ng tin nhi·ªÖu**  
**-> L·ªçc d·ªØ li·ªáu tr·∫£ v·ªÅ b·ªô d·ªØ li·ªáu ph√π h·ª£p v·ªõi nhu c·∫ßu ng∆∞·ªùi d√πng.**

### 1.1 L·ªçc s·ª≠ d·ª•ng .loc[], .iloc[]

<font color='red' size="5" >**df.loc[th√¥ng tin h√†ng, th√¥ng tin c·ªôt]**</font>

**V√≠ d·ª• 1: L·ªçc l·∫•y c·ªôt 'name'**

In [4]:
data.loc[:,'name']

0              hello.may.ph
1           love.women.shop
2             R&O RedOrange
3               patriciacai
4      Little Market Manila
               ...
741       Yacent_thrift_Clo
742             Akistore.ph
743            Yzanice Shop
744          Clairecvc Shop
745             angelcity.üíã
Name: name, Length: 746, dtype: object

**V√≠ d·ª• 2: L·ªçc l·∫•y c·ªôt 'name' v√† 'shop_location'**

In [5]:
data.loc[:,['name','shop_location']] #Danh s√°ch (list) c√°c c·ªôt ƒë∆°n l·∫ª th√¨ ph·∫£i ƒë·ªÉ trong [...]

                     name               shop_location
0            hello.may.ph                         NaN
1         love.women.shop    San Nicolas,Metro Manila
2           R&O RedOrange     Pasay City,Metro Manila
3             patriciacai        Binondo,Metro Manila
4    Little Market Manila  Caloocan City,Metro Manila
..                    ...                         ...
741     Yacent_thrift_Clo          Legazpi City,Albay
742           Akistore.ph                         NaN
743          Yzanice Shop                         NaN
744        Clairecvc Shop        Binondo,Metro Manila
745           angelcity.üíã     Pasay City,Metro Manila

[746 rows x 2 columns]

In [6]:
data.filter(['name','shop_location'])

                     name               shop_location
0            hello.may.ph                         NaN
1         love.women.shop    San Nicolas,Metro Manila
2           R&O RedOrange     Pasay City,Metro Manila
3             patriciacai        Binondo,Metro Manila
4    Little Market Manila  Caloocan City,Metro Manila
..                    ...                         ...
741     Yacent_thrift_Clo          Legazpi City,Albay
742           Akistore.ph                         NaN
743          Yzanice Shop                         NaN
744        Clairecvc Shop        Binondo,Metro Manila
745           angelcity.üíã     Pasay City,Metro Manila

[746 rows x 2 columns]

**V√≠ d·ª• 3: L·ªçc l·∫•y c·ªôt t·ª´ 'name' t·ªõi 'shop_location'**

In [7]:
data.loc[:,'name':'shop_location']

,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location
0,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN
1,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila"
2,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila"
3,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila"
4,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila"
...,...,...,...,...,...,...,...,...,...
741,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay"
742,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN
743,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN
744,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila"
745,angelcity.üíã,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila"

In [8]:
# data.filter(['name':'shop_location']) # Filter() kh√¥ng d√πng ƒë∆∞·ª£c slice xx:yy
# g√µ danh s√°ch c√°c t√™n th·ªß c√¥ng
data.filter(['name', 'join_month', 'join_day', 'join_year',
             'item_count', 'follower_count', 'response_time',
             'response_rate', 'shop_location', 'shop_location'])

,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,shop_location
0,hello.may.ph,April,27,2020,446,17487,10:13:55,96,NaN,NaN
1,love.women.shop,September,25,2020,263,8574,10:43:05,73,"San Nicolas,Metro Manila","San Nicolas,Metro Manila"
2,R&O RedOrange,September,27,2016,209,660417,08:32:07,90,"Pasay City,Metro Manila","Pasay City,Metro Manila"
3,patriciacai,April,30,2017,165,18787,09:10:38,94,"Binondo,Metro Manila","Binondo,Metro Manila"
4,Little Market Manila,October,18,2016,467,67371,11:40:59,89,"Caloocan City,Metro Manila","Caloocan City,Metro Manila"
...,...,...,...,...,...,...,...,...,...,...
741,Yacent_thrift_Clo,May,22,2021,16,115,08:45:30,86,"Legazpi City,Albay","Legazpi City,Albay"
742,Akistore.ph,March,3,2021,84,84,08:01:23,91,NaN,NaN
743,Yzanice Shop,December,20,2020,78,5982,08:46:30,96,NaN,NaN
744,Clairecvc Shop,August,2,2017,964,44029,12:19:44,73,"Binondo,Metro Manila","Binondo,Metro Manila"
745,angelcity.üíã,June,17,2017,272,868370,10:02:42,36,"Pasay City,Metro Manila","Pasay City,Metro Manila"

**V√≠ d·ª• 4: L·ªçc l·∫•y h√†ng c√≥ index = 222**

In [9]:
data.loc[222,:]

pk_shop               20210621417317962
date_collected               2021-06-21
shopid                        417317962
name                         MEIMEITALL
join_month                        April
join_day                              5
join_year                          2021
item_count                          477
follower_count                     1430
response_time                  09:20:04
response_rate                        96
shop_location                       NaN
rating_bad                            7
rating_good                         471
rating_normal                        19
rating_star                        4.82
is_shopee_verified                    1
is_official_shop                      0
Name: 222, dtype: object

In [10]:
data.filter([222], axis = 0) #V√≠ d·ª• ƒë√∫ng

,pk_shop,date_collected,shopid,name,join_month,join_day,join_year,item_count,follower_count,response_time,response_rate,shop_location,rating_bad,rating_good,rating_normal,rating_star,is_shopee_verified,is_official_shop
222,20210621417317962,2021-06-21,417317962,MEIMEITALL,April,5,2021,477,1430,09:20:04,96,NaN,7,471,19,4.82,1,0

In [11]:
data.filter([:])[222] #Kh√¥ng ƒë∆∞·ª£c (v√≠ d·ª• sai)

SyntaxError: invalid syntax (4257133879.py, line 1)

**V√≠ d·ª• 5: L·ªçc l·∫•y h√†ng c√≥ index = 222, 444 v√† 666**

In [ ]:
data.loc[[222, 444, 666],:] #Danh s√°ch c√°c h√†ng ƒë∆°n l·∫ª th√¨ ph·∫£i ƒë·ªÉ trong [...]

In [ ]:
data.filter([222, 444, 666], axis = 0)

**V√≠ d·ª• 6: L·ªçc l·∫•y h√†ng c√≥ index t·ª´ 100 t·ªõi 200**

In [ ]:
data.loc[100:200,:]

In [ ]:
data.filter(['name', 'join_month', 'join_day', 'join_year',
             'item_count', 'follower_count', 'response_time',
             'response_rate', 'shop_location', 'shop_location'])[100:201]

**V√≠ d·ª• 7: L·ªçc l·∫•y b·∫£ng c√≥ index t·ª´ 300 t·ªõi 400 ch·ªâ ch·ª©a c·ªôt t·ª´ 'rating_bad' t·ªõi 'rating_star'**

In [ ]:
data.loc[300:400,'rating_bad':'rating_star']

In [ ]:
data.iloc[300:401,12:16]

In [ ]:
data.filter(['rating_bad', 'rating_good', 'rating_normal', 'rating_star'])[300:401]

### 1.2 L·ªçc b·∫±ng h√†m filter()

<font color='red' size="5" >**df.filter([‚ÄòT√™n_c·ªôt_1', ‚Ä¶,‚ÄòT√™n_c·ªôt_n']) [ch·ªâ_s·ªë_d√≤ng_ƒë·∫ßu : ch·ªâ_s·ªë_d√≤ng_cu·ªëi+1]**</font>  
**Ch·ªß y·∫øu l√† ƒë·ªÉ l·ªçc l·∫•y c·ªôt**

**V√≠ d·ª• 1: L·ªçc l·∫•y c·ªôt 'name'**

In [ ]:
data.filter(['name'])

### 1.3 L·ªçc s·ª≠ d·ª•ng ƒëi·ªÅu ki·ªán

#### **1.3.1 L·ªçc theo ƒëi·ªÅu ki·ªán ƒë∆°n**  
<font color='red' size="5" >**df[df[‚ÄòT√™n_c·ªôt‚Äô] PTSS gi√°_tr·ªã]**</font>  
**Trong ƒë√≥ ph√©p to√°n so s√°nh PTSS s·ª≠ d·ª•ng c√°c ph√©p to√°n so s√°nh g·ªìm: ==, <, <=, >, >=, !=**  
**(gi√°_tr·ªã c·∫ßn so s√°nh ƒë∆∞·ª£c ƒë·ªÉ trong c·∫∑p d·∫•u nh√°y ƒë∆°n n·∫øu c√≥ ki·ªÉu chu·ªói k√Ω t·ª±)**

In [ ]:
data.head(8)

**V√≠ d·ª• 1: L·ªçc l·∫•y d·ªØ li·ªáu c√≥ th√°ng tham gia l√† th√°ng 6**

In [ ]:
data[data['join_month']=='June']
# data[data.loc[:,'join_month']=='June'] #H∆°i d√†i

**V√≠ d·ª• 2: L·ªçc l·∫•y d·ªØ li·ªáu c√≥ tr√™n 500 ƒë√°nh gi√° t·ªët**

In [ ]:
data[data['rating_good']>=500]

**V√≠ d·ª• 3: L·ªçc l·∫•y t√™n c√°c shop v√† ƒë·ªãa ch·ªâ c√≥ tr√™n 1000 ƒë√°nh gi√° t·ªët**

In [ ]:
data[['name','shop_location']][data['rating_good']>1000] #Chained index

In [ ]:
data.loc[:,['name','shop_location']][data['rating_good']>1000] #D√πng loc, ch·ªçn tr∆∞·ªõc, ƒëi·ªÅu ki·ªán sau

In [ ]:
data[data['rating_good'] > 1000].loc[:,['name','shop_location']] #ƒêi·ªÅu ki·ªán tr∆∞·ªõc, ch·ªçn c·ªôt sau

In [ ]:
data[data['rating_good'] > 1000].filter(['name','shop_location']) #D√πng filter()

**L·ªçc theo ƒëi·ªÅu ki·ªán ph·ª©c**  
<font color='red' size="5" >**df[(df[‚ÄòT√™n_c·ªôt_1‚Äô] PTSS gi√°_tr·ªã) PTLG (df[‚ÄòT√™n_c·ªôt_n‚Äô] PTSS gi√°_tr·ªã_n)]**</font>  
<font color='red' size="5" >**df[(so s√°nh 1) PTLG (so sanh 2)]**</font>
**C√°c ƒëi·ªÅu ki·ªán ƒë∆∞·ª£c n·ªëi v·ªõi nhau b·ªüi ph√©p to√°n logic PTLG g·ªìm: & (v√†), | (ho·∫∑c), ~ (ph·ªß ƒë·ªãnh)**

**V√≠ d·ª• 4: L·ªçc l·∫•y t√™n c√°c shop v√† ƒë·ªãa ch·ªâ c√≥ tr√™n 1000 ƒë√°nh gi√° t·ªët v√† trung b√¨nh ƒë√°nh gi√° tr√™n 4.8 sao**

In [ ]:
data[['name','shop_location']][(data['rating_good'] > 1000) & (data['rating_star']>4.8)]

In [ ]:
data[(data['rating_good'] > 1000) & (data['rating_star'] > 4.8)]\
.filter(['name','shop_location'])

In [ ]:
data.loc[:, ['name', 'shop_location']]\
[(data['rating_good']>1000) & (data['rating_star']>4.8)]

**V√≠ d·ª• 5: L·ªçc l·∫•y c√°c d·ªØ li·ªáu c·ªßa c√°c shop c√≥ tr√™n 4 nƒÉm t·ªìn t·∫°i, ƒë∆∞·ª£c shoppe verify, v√† kh√¥ng c√≥ qu√° 200 ƒë√°nh gi√° x·∫•u**

In [ ]:
data[(data['join_year']<=2017) 
     & (data['is_shopee_verified']==1) 
     & (data['rating_bad'] < 200)]

**V√≠ d·ª• 6: L·ªçc l·∫•y c√°c d·ªØ li·ªáu c·ªßa c√°c shop c√≥ ƒë·ªãa ch·ªâ ·ªü Manila**  
xxx.str.contains('string')==True

In [ ]:
data[data['shop_location'].str.contains('Manila')==True]

**V√≠ d·ª• 7: T√™n c·ªôt c√≥ ch·ª©a d·∫•u c√°ch.**  
**shop_location -> shop location**

### 1.4 L·ªçc b·∫±ng h√†m query()

**Ph∆∞∆°ng th·ª©c truy v·∫•n query gi√∫p c√¢u l·ªánh truy v·∫•n ch·∫°y nhanh h∆°n**  
**C√°c ƒëi·ªÅu ki·ªán ƒë∆∞·ª£c n·ªëi v·ªõi nhau b·ªüi c√°c ph√©p to√°n logic nh∆∞: and (v√†), or (ho·∫∑c), not (ph·ªß ƒë·ªãnh) v√† ƒë∆∞·ª£c ƒë·ªÉ trong m·ªôt c·∫∑p d·∫•u nh√°y k√©p.**  
<font color='red' size="5" >**df.query("(T√™n_c·ªôt_1 PTSS gi√°_tr·ªã_1) PTLG (T√™n_c·ªôt_n PTSS gi√°_tr·ªã_n)")**</font>  
<font color='red' size="5" >**df.query("(so sanh 1) PTLG (so sanh 2)")**</font>

**V√≠ d·ª• 1: L·ªçc l·∫•y t√™n c√°c shop v√† ƒë·ªãa ch·ªâ c√≥ tr√™n 1000 ƒë√°nh gi√° t·ªët v√† trung b√¨nh ƒë√°nh gi√° tr√™n 4.8 sao**

In [ ]:
data[(data['rating_good'] > 1000) & (data['rating_star'] > 4.8)]\
.filter(['name','shop_location','rating_good','rating_star'])

In [ ]:
data.query("(rating_good > 1000) and (rating_star > 4.8)")\
.filter(['name','shop_location', 'rating_good','rating_star'])

**V√≠ d·ª• 2: L·ªçc l·∫•y c√°c d·ªØ li·ªáu c·ªßa c√°c shop c√≥ t·ª´ 5 nƒÉm t·ªìn t·∫°i, ƒë∆∞·ª£c shoppe verify, v√† kh√¥ng c√≥ qu√° 200 ƒë√°nh gi√° x·∫•u**

In [ ]:
data.query("join_year <= 2017 and is_shopee_verified == 1 and rating_bad <200")\
.filter(['name','shop_location'])

In [ ]:
data.query("() and () and ()")

**V√≠ d·ª• 3: L·ªçc l·∫•y c√°c d·ªØ li·ªáu c·ªßa c√°c shop c√≥ ƒë·ªãa ch·ªâ ·ªü Manila**  
xxx.str.contains('string')==True

In [ ]:
data.query("shop_location.str.contains('Manila')==True")

**Ch√∫ √Ω: C√°c tr∆∞·ªùng h·ª£p trong t√™n c·ªôt c√≥ k√Ω t·ª± ƒë·∫∑c bi·ªát, v√≠ d·ª• d·∫•u c√°ch**  
**S·ª≠ d·ª•ng d·∫•u 'huy·ªÅn' ƒë·ªÉ ghi t√™n c·ªôt**

In [ ]:
data.rename(columns= {'shop_location':'shop location'}, inplace=True)
data

In [ ]:
data.query("`shop location`.str.contains('Manila')==True")

## 2. Gom nh√≥m d·ªØ li·ªáu

**Nh√≥m ‚Äì groupby l√† m·ªôt h√¨nh th·ª©c t·ªïng h·ª£p d·ªØ li·ªáu theo chi·∫øn l∆∞·ª£c t√°ch-√°p d·ª•ng-k·∫øt h·ª£p. ƒê·∫ßu ti√™n d·ªØ li·ªáu ƒë∆∞·ª£c chia th√†nh c√°c nh√≥m gi·ªëng nhau r·ªìi √°p d·ª•ng c√°c ph√©p to√°n t·ªïng h·ª£p nh∆∞ mean, min, max, count, sum‚Ä¶ tr√™n m·ªói nh√≥m v√† k·∫øt h·ª£p c√°c k·∫øt qu·∫£ t·ª´ m·ªói nh√≥m.**  
<font color='red' size="5" >**df.groupby(‚ÄòThu·ªôc t√≠nh c·∫ßn ph√¢n nh√≥m‚Äô)[‚ÄòThu·ªôc t√≠nh c·∫ßn t√≠nh gi√° tr·ªã‚Äô].ph√©p to√°n()**</font>

In [ ]:
data.head()

**V√≠ d·ª• 1: L·∫≠p b·∫£ng s·ªë l∆∞·ª£ng s·∫£n ph·∫©m theo t√™n c·ªßa shop**

In [ ]:
aaa = data.groupby('name')['item_count'].sum() #.to_frame()
aaa

In [ ]:
type(aaa)

In [ ]:
bbb = data.pivot_table(values='item_count', index='name', aggfunc='sum')
bbb

In [ ]:
type(bbb)

**V√≠ d·ª• 2: L·∫≠p b·∫£ng t√≠nh t·ªïng s·ªë l∆∞·ª£ng ƒë√°nh gi√° c·ªßa shop**  
<font color='red' size="5" >**df.groupby(‚ÄòThu·ªôc t√≠nh c·∫ßn ph√¢n nh√≥m‚Äô)[‚ÄòThu·ªôc t√≠nh c·∫ßn t√≠nh gi√° tr·ªã‚Äô].ph√©p to√°n()**</font>

In [ ]:
data.head()

In [ ]:
data.groupby('name')[['rating_bad','rating_good','rating_normal']].sum()

In [ ]:
data.pivot_table(values=['rating_bad','rating_good','rating_normal'],
                 index= 'name', 
                 aggfunc= 'sum')

**V√≠ d·ª• 3: Xu·∫•t ra s·ªë l∆∞·ª£ng c√°c shop th√†nh l·∫≠p theo nƒÉm**  
<font color='red' size="5" >**df.groupby(‚ÄòThu·ªôc t√≠nh c·∫ßn ph√¢n nh√≥m‚Äô)[‚ÄòThu·ªôc t√≠nh c·∫ßn t√≠nh gi√° tr·ªã‚Äô].ph√©p to√°n()**</font>

In [ ]:
data.groupby('join_year')['shopid'].count()

In [ ]:
data.pivot_table(values= 'shopid', index= 'join_year', aggfunc= 'count')

**C√≥ th·ªÉ d√πng h√†m pivot_table() thay th·∫ø cho h√†m groupby()**  
**Trong ƒë√≥ values = thu·ªôc t√≠nh c·∫ßn t√≠nh gi√° tr·ªã, index = thu·ªôc t√≠nh c·∫ßn ph√¢n nh√≥m**  
<font color='red' size="5" >**df.pivot_table(values=‚Äôa‚Äô, index=‚Äôb‚Äô, columns=‚Äôc‚Äô, aggfunc=‚Äòh√†m‚Äô)**</font>

## 3. Sinh d·ªØ li·ªáu t·ª´ c√°c c·ªôt ƒë√£ c√≥

### 3.1 Sinh/s·ª≠a c·ªôt t·ª´ c√°c ph√©p to√°n s·ªë h·ªçc

<font color='red' size="5" >**df.loc[:,'cotmoi']=df.loc[:,'cot1'] ph√©p-to√°n df.loc[:,'cot2']**</font>  
**Trong ƒë√≥ ph√©p-to√°n l√† +, -, `*`, /, %, etc**

**V√≠ d·ª• 1: Th√™m c·ªôt 'rating', c√¥ng th·ª©c l√† rating = rating_good `*`2 + rating_normal - rating_bad`*`3**

In [ ]:
data.loc[:,['rating_good', 'rating_normal', 'rating_bad']]

In [ ]:
data.loc[:,'rating']= data.loc[:,'rating_good']*2 \
                        + data.loc[:,'rating_normal'] \
                        - data.loc[:,'rating_bad']*3
data.loc[:,['rating_good', 'rating_normal', 'rating_bad','rating']]

In [ ]:
data['rating'] = data['rating_good']*2 + data['rating_normal'] - data['rating_bad']*3
data.loc[:,['rating_good', 'rating_normal', 'rating_bad','rating']]

**V√≠ d·ª• 2: Th√™m c·ªôt 'location' c√≥ c·∫•u tr√∫c nh∆∞ sau: 'shop_location, Philippine'**

In [ ]:
a = 'Hanoi'
b ='SaiGon'
a + b

In [ ]:
data.loc[:,'location']= data.loc[:,'shop_location'] + ', Philippine'
data.loc[:,['shop_location','location']]

**V√≠ d·ª• 3: Th√™m c·ªôt 'join' c√≥ c·∫•u tr√∫c: 'Month day, year' v·ªõi d·ªØ li·ªáu t·ª´ 'join_month', 'join_day', 'join_year'**  
**G·ª£i √Ω: d√πng astype(str) ƒë·ªÉ chuy·ªÉn ƒë·ªïi s·ªë th√†nh str**

In [ ]:
data.loc[:,'join_year'] #.astype(str)

In [ ]:
data.loc[:, 'join']= data.loc[:,'join_month'] + ' ' + data.loc[:, 'join_day'].astype(str) + ', '+ data.loc[:, 'join_year'].astype(str)
data.loc[:,['join_month','join_day','join_year','join']]

### 3.2 Sinh/s·ª≠a c·ªôt t·ª´ c√°c ph√©p to√°n logic

**Sinh ra gi√° tr·ªã True/False theo ƒëi·ªÅu ki·ªán**  
<font color='red' size="5" >**df.loc[:,'cotmoi']=df.loc[:,'cot1'] so-s√°nh xxx**</font>  
**Trong ƒë√≥ so-s√°nh l√† ==, >, <, >=, <=, ~**

**V√≠ d·ª• 1: Th√™m c·ªôt 'test1' v·ªõi gi√° tr·ªã logic l√† 'shop m·ªü sau nƒÉm 2020'**

In [ ]:
data.loc[:,'test1'] = data.loc[:,'join_year'] > 2020
data.loc[:,['name','join_year','test1']]

**G√°n gi√° tr·ªã theo ki·ªÉu if...then...else...**  
<font color='red' size="5" >**df.loc[:,'cotmoi'] = np.where(df.loc[:,'cot1'] so-s√°nh xxx, gi√°-tr·ªã-1, gi√°-tr·ªã-2)**</font>  
**Trong ƒë√≥ so-s√°nh l√† ==, >, <, >=, <=, ~**  
**gi√°-tr·ªã-1 l√† gi√° tr·ªã ƒë∆∞·ª£c ƒëi·ªÅn v√†o n·∫øu so s√°nh l√† ƒë√∫ng, gi√°-tr·ªã-2 l√† gi√° tr·ªã ƒë∆∞·ª£c ƒëi·ªÅn v√†o n·∫øu so s√°nh l√† sai**

**V√≠ d·ª• 2: Th√™m c·ªôt 'medal' v·ªõi gi√° tr·ªã l√† 'gold' n·∫øu c√≥ ƒëi·ªÉm rating >10000 v√† 'silver' n·∫øu <=10000**

In [ ]:
data.loc[] = np.where(mask, ..., ...)

In [ ]:
data.loc[:,'medal'] = np.where(data.loc[:,'rating']>10000,'gold','silver')
data.loc[:,['name','rating','medal']]

In [ ]:
data.loc[:,'medal2']=np.where(data.loc[:,'test1'], 'gold', 'silver')
data.loc[:,['name','test1','medal2']]

**G√°n gi√° tr·ªã theo ki·ªÉu switch...case...**  
<font color='red' size="5" >**df.loc[:,'cotmoi']=np.select(c√°c-ƒëi·ªÅu-ki·ªán, c√°c-gi√°-tr·ªã, default)**</font>  
**Trong ƒë√≥ c√°c-ƒëi·ªÅu-ki·ªán l√† c√°c so s√°nh, c√≥ th·ªÉ ƒë∆∞·ª£c ƒë·∫∑t ·ªü 1 bi·∫øn ri√™ng**  
**c√°c-gi√°-tr·ªã l√† c√°c gi√° tr·ªã g√°n v√†o v·ªõi c√°c so s√°nh t∆∞∆°ng ·ª©ng**

**V√≠ d·ª• 3: S·ª≠a c·ªôt 'medal' v·ªõi gi√° tr·ªã l√† 'gold' n·∫øu c√≥ ƒëi·ªÉm rating =>100000 v√† 'silver' n·∫øu 50000<=rating<100000 v√† 'bronze' n·∫øu 10000<=rating<50000 v√† 'iron' n·∫øu rating <10000**

In [ ]:
conditions = [(data.loc[:,'rating']>=100000),
              (data.loc[:,'rating']>=50000) & (data.loc[:,'rating']<100000),
              (data.loc[:,'rating']>=10000) & (data.loc[:,'rating']<50000)]
values = ['gold','silver','bronze']
data.loc[:,'medal']=np.select(conditions, values, default='iron')
data.loc[:,['name','rating','medal']]

### 3.3 T√°ch c·ªôt th√†nh c√°c c·ªôt nh·ªè h∆°n

**Th√¥ng th∆∞·ªùng t√°ch 1 c·ªôt ch·ª©a nhi·ªÅu d·ªØ li·ªáu th√†nh c√°c c·ªôt ch·ª©a t·ª´ng lo·∫°i d·ªØ li·ªáu c·∫ßn thi·∫øt**  
**V√≠ d·ª•, t√°ch c·ªôt ch·ª©a th√¥ng tin d·∫°ng string th√†nh c√°c ph·∫ßn nh·ªè.**  
**Ho·∫∑c t√°ch ng√†y th√°ng nƒÉm**

**V√≠ d·ª• 1: T√°ch c·ªôt 'shop_location' th√†nh 2 c·ªôt 'distric' v√† 'city'**  
**G·ª£i √Ω: d√πng h√†m str.split('separator') ƒë·ªÉ ph√¢n t√°ch n·ªôi dung c·ªßa str**  
**Trong ƒë√≥ 'separator' l√† k√Ω t·ª± ph√¢n chia n·ªôi dung, th∆∞·ªùng l√† d·∫•u c√°ch ' ' ho·∫∑c d·∫•u ','**

In [ ]:
data.loc[:,'shop_location']

In [ ]:
temp = data.loc[:,'shop_location'].str.split(',')
data.loc[:,'distric']= temp.str[0]
data.loc[:,'city']= temp.str[1]
data.loc[:,['shop_location','distric','city']]

**V√≠ d·ª• 2: T√°ch c·ªôt date_collected th√†nh 3 c·ªôt Day, Month, Year**  
**G·ª£i √Ω: d√πng h√†m <font color='red' size="5" >pandas.to_datetime(d·ªØ-li·ªáu, format).dt.th√¥ng-tin</font> ƒë·ªÉ ph√¢n t√°ch th·ªùi gian**  
**Trong ƒë√≥ 'format' l√† b·ªë c·ª•c c·ªßa th·ªùi gian** 
**th√¥ng-tin l√† lo·∫°i th√¥ng tin mu·ªën l·∫•y, v√≠ d·ª• hour, minute, day, month, etc.**

In [12]:
data.loc[:,'date_collected']

0      2021-06-13
1      2021-06-13
2      2021-06-13
3      2021-06-13
4      2021-06-13
          ...
741    2021-07-06
742    2021-07-06
743    2021-07-06
744    2021-07-06
745    2021-07-06
Name: date_collected, Length: 746, dtype: object

In [13]:
data.loc[:,'Day']=pd.to_datetime(data.loc[:,'date_collected'],format='%Y-%m-%d').dt.day
data.loc[:,'Month']=pd.to_datetime(data.loc[:,'date_collected'],format='%Y-%m-%d').dt.month
data.loc[:,'Year']=pd.to_datetime(data.loc[:,'date_collected'],format='%Y-%m-%d').dt.year
data.loc[:,['date_collected','Day', 'Month', 'Year']]

    date_collected  Day  Month  Year
0       2021-06-13   13      6  2021
1       2021-06-13   13      6  2021
2       2021-06-13   13      6  2021
3       2021-06-13   13      6  2021
4       2021-06-13   13      6  2021
..             ...  ...    ...   ...
741     2021-07-06    6      7  2021
742     2021-07-06    6      7  2021
743     2021-07-06    6      7  2021
744     2021-07-06    6      7  2021
745     2021-07-06    6      7  2021

[746 rows x 4 columns]

**V√≠ d·ª• 3: T√°ch c·ªôt response_time th√†nh 3 c·ªôt Hour, Minute, Second**  
**<font color='red' size="5" >pandas.to_datetime(d·ªØ-li·ªáu, format).dt.th√¥ng-tin</font>**  
**Ch√∫ √Ω: trong v√≠ d·ª• n√†y, d·ªØ li·ªáu c√≥ th√™m d·∫•u c√°ch tr∆∞·ªõc th√¥ng tin th·ªùi gian**

In [14]:
data.loc[:,'response_time']

0       10:13:55
1       10:43:05
2       08:32:07
3       09:10:38
4       11:40:59
         ...
741     08:45:30
742     08:01:23
743     08:46:30
744     12:19:44
745     10:02:42
Name: response_time, Length: 746, dtype: object

In [15]:
data.loc[:,'Hour']=pd.to_datetime(data.loc[:,'response_time'],format=' %H:%M:%S').dt.hour
data.loc[:,'Minute']=pd.to_datetime(data.loc[:,'response_time'],format=' %H:%M:%S').dt.minute
data.loc[:,'Second']=pd.to_datetime(data.loc[:,'response_time'],format=' %H:%M:%S').dt.second
data.loc[:,['response_time','Hour', 'Minute', 'Second']]

    response_time  Hour  Minute  Second
0        10:13:55    10      13      55
1        10:43:05    10      43       5
2        08:32:07     8      32       7
3        09:10:38     9      10      38
4        11:40:59    11      40      59
..            ...   ...     ...     ...
741      08:45:30     8      45      30
742      08:01:23     8       1      23
743      08:46:30     8      46      30
744      12:19:44    12      19      44
745      10:02:42    10       2      42

[746 rows x 4 columns]