In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("FoodPrice_in_Turkey.csv", header = 0, encoding = "ISO-8859-1")
data

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [ ]:
data.columns

In [3]:
# Việt hóa tên các cột bằng cách đổi tên
# Chỉ đổi tên 1 cột
data.rename(columns = {"Place":"Địa điểm"}, inplace = True) #inplace sẽ thay thế trực tiếp vào data gốc. Bản gốc dataframe được lưu trên bộ nhớ RAM
data

,Địa điểm,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [4]:
# Đổi tên vài cột xác định
data.rename(columns = {"Place":"Địa điểm", "ProductName":"Tên sản phẩm"}, inplace = True)
data

,Địa điểm,ProductId,Tên sản phẩm,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [5]:
# Đổi tên toàn bộ cột (Cần liệt kê đầy đủ tên cột mới và theo thứ tự)
data.columns = ["Địa điểm", "Mã sản phẩm", "Tên sản phẩm", "Đơn vị", "Tên đơn vị", "Tháng", "Năm", "Giá"]
data

,Địa điểm,Mã sản phẩm,Tên sản phẩm,Đơn vị,Tên đơn vị,Tháng,Năm,Giá
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [ ]:
# Thêm cột vào bảng đã có

In [6]:
# Mặc định thêm cột mới thì cột mới sẽ được thêm vào cuối bảng
data["Tên cột mới"] = np.NaN
data

,Địa điểm,Mã sản phẩm,Tên sản phẩm,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,Tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,NaN

In [7]:
# Chèn thêm cột "Chiết khấu" vào sau cột "Giá"
data.insert(8, "Chiết khấu (%)", 20)
data

,Địa điểm,Mã sản phẩm,Tên sản phẩm,Đơn vị,Tên đơn vị,Tháng,Năm,Giá,Chiết khấu (%),Tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920,20,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786,20,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865,20,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337,20,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099,20,NaN
...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040,20,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176,20,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347,20,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985,20,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071,20,NaN

In [8]:
# Thêm cột số lượng trước cột "Giá", giá trị đều bằng 50
data.insert(7, "Số lượng", 50)
data

,Địa điểm,Mã sản phẩm,Tên sản phẩm,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tên cột mới
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,NaN

In [10]:
# Đổi tên cột mới thành "Tổng" và có giá trị bằng Giá x Số lượng x (100% - Chiết khấu)
data.rename(columns = {"Tên cột mới":"Tổng"}, inplace = True)
data

,Địa điểm,Mã sản phẩm,Tên sản phẩm,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,NaN
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,NaN
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,NaN
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,NaN
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,NaN
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,NaN
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,NaN
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,NaN
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,NaN

In [11]:
data["Tổng"] = data["Giá"] * data["Số lượng"] * (100 - data["Chiết khấu (%)"])/100
data

,Địa điểm,Mã sản phẩm,Tên sản phẩm,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7376,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,50,47.9040,20,1916.160
7377,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,50,49.1176,20,1964.704
7378,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50,50.8347,20,2033.388
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284

In [15]:
# Thêm 1 dòng mới vào cuối bảng
data.shape[0] #lấy được chỉ số dòng cuối
# data.shape[1] #lấy được chỉ số cột cuối

7381

In [18]:
data.loc[data.shape[0]] = ["Sài Gòn", 3000, "Dưa hấu", 5, "KG", 10, 2022, 50, 50.000, 10, np.NaN]
data
# data.info()

,Địa điểm,Mã sản phẩm,Tên sản phẩm,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
1,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
2,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
3,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
4,National Average,52,Rice - Retail,5,KG,1,2014,50,5.5099,20,220.396
...,...,...,...,...,...,...,...,...,...,...,...
7379,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7381,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10,NaN

In [26]:
# Thêm dòng mới vào đầu bảng
data.loc[-1] = ["Hà Nội", 3001, "Cốm làng Vòng", 5, "KG", 10, 2022, 20, 50.000, 30, np.NaN]
# Sắp xếp lại bảng
data = data.sort_index()
# Update lại index của bảng
data.index = data.index + 1
data

,Địa điểm,Mã sản phẩm,Tên sản phẩm,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30,NaN
1,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
2,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
3,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
4,National Average,52,Rice - Retail,5,KG,12,2013,50,5.1337,20,205.348
...,...,...,...,...,...,...,...,...,...,...,...
7380,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7382,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10,NaN

In [29]:
# Thêm một dòng mới ở giữa bảng: Sau dòng HN, với các giá trị lần lượt là 
data.loc[0.5] = ["Đà Nẵng", 3002, "Mỳ quảng", 5, "Tô", 10, 2022, 20, 100.000, 10, np.NaN]
data = data.sort_index().reset_index(drop = True)
data

,Địa điểm,Mã sản phẩm,Tên sản phẩm,Đơn vị,Tên đơn vị,Tháng,Năm,Số lượng,Giá,Chiết khấu (%),Tổng
0,Hà Nội,3001,Cốm làng Vòng,5,KG,10,2022,20,50.0000,30,NaN
1,Đà Nẵng,3002,Mỳ quảng,5,Tô,10,2022,20,100.0000,10,NaN
2,National Average,52,Rice - Retail,5,KG,5,2013,50,4.4920,20,179.680
3,National Average,52,Rice - Retail,5,KG,6,2013,50,4.5786,20,183.144
4,National Average,52,Rice - Retail,5,KG,11,2013,50,4.7865,20,191.460
...,...,...,...,...,...,...,...,...,...,...,...
7381,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,50,51.7985,20,2071.940
7382,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,50,51.6071,20,2064.284
7383,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
7384,Sài Gòn,3000,Dưa hấu,5,KG,10,10,2022,50.0000,10,NaN
7385,Sài Gòn,3000,Dưa hấu,5,KG,10,2022,50,50.0000,10,NaN

In [30]:
# Xóa cột: có 3 cách

In [31]:
# Sử dụng del, hoạt động ngay trên data gốc => Nguy hiểm, hạn chế dùng
# del data["Tổng"]

In [32]:
# Sử dụng pop, hoạt động ngay trên data gốc => Nguy hiểm, hạn chế dùng, Sau khi xóa sẽ trả về giá trị của cột đã bị xóa => có thể dùng để phục hồi cột đã xóa trong data cũ
# data = data.pop("Tổng")

In [33]:
# Sử dụng drop => có thể ko xóa trực tiếp trên bảng gốc => nên dùng, cũng có trả về cột bị xóa
#df.drop("Tên cột cần xóa", axis = 1, inplace = True/False)
# axis = 1 nghĩa là xóa cột, 0 nghĩa là xóa hàng
# inplace = True => Xóa cả dữ liệu gốc, nghĩa là giống del và pop
# inplace = False => Giữ lại nguyên vẹn dữ liệu gốc (mặc định)

In [34]:
# Xóa nhiều cột sử dụng hàm drop
# df.drop["Tên cột cần xóa 1", ..., "Tên cột cần xóa n", axis = 1, inplace = True/False]

In [36]:
# Xóa dòng sử dụng drop
# df.drop(chỉ số dòng, axis = 0 (cho dòng), inplace = True/False)
# Không auto reset index

In [ ]:
# Xóa nhiều dòng sử dụng drop
# df.drop([Chỉ số dòng 1, Chỉ số dòng 2,..., Chỉ số dòng n])